[2016-01-06 04:51] jim-v opened #1 "Auto detect height of first fiducial in map"

[2016-01-06 06:36] jim-v opened #2 "Look into causes of fiducial jitter"

[2016-01-06 17:50] jim-v opened #3 "Integrate throttling of images without decompressing unused images"

[2016-04-18 05:21] #3 closed

[2016-11-23 02:14] rohbotics opened #6 "Indigo Release"
We need to get a working release out on Indigo

[2016-11-23 02:15] rohbotics opened #7 "Kinetic Release"
We need to get a working release out on Kinetic

[2016-11-23 02:17] rohbotics opened #8 "Add proper demo launch files"
We got rid of old ones, now we need to add new ones

[2016-11-23 02:18] rohbotics opened #9 "Document everything so that we can get it running"

[2016-11-23 02:35] rohbotics commented on #6
Error on the last release build
http://build.ros.org/job/Ibin_uS32__fiducial_pose__ubuntu_saucy_i386__binary/4/console

[2016-11-23 02:42] rohbotics commented on #6
Looks like the dev build is good, so I am re-releasing a new version for indigo (0.0.2).

Waiting on rosdistro merge: https://github.com/ros/rosdistro/pull/13281

[2016-11-23 02:44] rohbotics commented on #7
Looks like we have something: http://build.ros.org/job/Kbin_uX64__fiducials__ubuntu_xenial_amd64__binary/

We need to see how good it is before closing this

[2016-11-23 03:07] rohbotics opened #10 "Test install rules"
Make sure that we have all the install rules that we need to actually use pre-built packages

[2016-11-23 03:30] rohbotics opened #11 "Basic Automated Tests"
We need tests! We can start out with some basic ones.

- [x] Publish image(s) of a fiducial in frame, and make sure that the detection outputs a sane vertices.
- [x] Use existing map, publish image of fiducial, check for sane localization.
- [x] Image with two fiducials, connect them
- [x] Bag file with video of moving through a bunch of fiducials, map should make sense (Maybe not as basic)

[2016-11-23 05:48] jim-v commented on #10
Added install rules for fiducial_slam Python scripts.  The other looked correct.

[2016-11-23 06:18] rohbotics commented on #10
Whenever you get a change, run a `catkin_make install` and source the install/setup.bash instead of the devel/setup.bash and see if you can still run fiducials

[2016-11-23 15:02] rohbotics commented on #6
We have indigo packages built by the farm now.

[2016-11-24 17:21] rohbotics opened #12 "Transition to C++11"
We should start using C++11 concepts in fiducials to help clean up the code.

With kinetic, all supported platforms have C++11 support.

[2016-11-27 00:40] jim-v commented on #10
Launch files are not installed

[2016-11-27 00:42] jim-v opened #13 "Changes to make more testable"
- fiducial_slam should build a map even if base_link to camera tf is not known
- fiducial_detect should detect fiducials and publish vertices even if no camera_info

[2016-11-27 01:29] #10 closed, assigned to jim-v

[2016-11-27 04:10] rohbotics commented on #8
fiducial_detect/launch/fiducial_detect.launch
fiducial_slam/launch/fiducial_slam.launch

Seem to work as generic demo launches

[2016-11-27 04:10] #8 closed, assigned to nobody

[2016-11-27 07:38] jim-v opened #14 "Use tf2 transform_listener"

[2016-11-27 08:12] rohbotics commented on #14
I thought we already did, in fiducial_detect at least

[2016-11-27 08:19] jim-v commented on #14
It's fiducial_slam that uses the base_link to camera transform to figure out where the robot is.

[2016-11-27 14:52] #14 closed, assigned to nobody

[2016-11-27 14:56] jim-v commented on #13
This can be done by setting parameters to fiducial_slam.py.
- Set odom_frame to "" if no odometry.
- Set camera_frame to "base_link" for testing without camera transform.

[2016-11-27 14:56] #13 closed, assigned to nobody

[2016-11-27 14:57] jim-v opened #15 "Need to verify and document integration with amcl"

[2016-11-28 07:21] jim-v commented on #11
@rohbotics Is there a place I can host a large bag file?

[2016-11-28 07:56] jim-v opened #17 "get rid of camera_frame parameter to fiducial_slam, since the information is in the FiducialTransform messages"

[2016-11-28 10:07] #17 closed, assigned to nobody

[2016-11-28 10:18] jim-v commented on #17
Closed by pull request #18

[2016-11-28 17:41] rohbotics commented on #11
We should look into a static host for large files, like AWS S3, but for now I think you will have to do it from google drive/dropbox

[2016-11-30 04:41] jim-v opened #19 "Need some utility scripts"
- [x] Initialize map with a fiducial

- [x] Create fiducials to print

[2016-11-30 05:36] jim-v commented on #11
The basic tests are in place.

[2016-11-30 17:44] rohbotics commented on #11
Great, I will take a look closer look today.

[2016-12-16 03:48] rohbotics commented on #11
Sorry for the delay, Looks good!

[2016-12-16 03:48] #11 closed, assigned to jim-v

[2016-12-16 03:49] #19 closed, assigned to nobody

[2016-12-17 05:10] rohbotics commented on #9
I cleaned up the README a little bit

[2016-12-17 05:42] rohbotics opened #23 "There are a lot of really old docs"
Get rid of it, or fix it.

[2016-12-17 06:28] jim-v commented on #23
The launch files, rviz files and camera calibrations should also be removed from fiducial_lib.

[2016-12-17 06:32] rohbotics commented on #23
Got rid of that stuff in the PR as well

[2016-12-17 06:43] jim-v commented on #23
And rviz_notes.txt can go too.

[2016-12-17 08:48] #23 closed, assigned to rohbotics

[2016-12-17 09:01] jim-v opened #25 "aruco_detect document is out of date"
Describes building under indigo

[2016-12-17 09:37] #25 closed, assigned to jim-v

[2016-12-17 23:59] rohbotics opened #27 "Use static images instead of bags whenever possible"
Bag files are big, and we can get away with static images for some things

- [x] fiducial_detect
- [x] aruco_detect
- [x] fiducial_slam (localization)

[2016-12-18 01:28] jim-v opened #28 "fiducial_slam should publish the map"

[2016-12-18 01:32] jim-v commented on #28
This is needed to implement bagless tests (#27).

[2016-12-18 01:57] rohbotics opened #29 "aruco_detect only takes compressed"

[2016-12-18 02:11] jim-v opened #31 "aruco_detect doesn't produce subpixel vertices"

[2016-12-18 03:29] #31 closed, assigned to jim-v

[2016-12-18 03:30] #9 closed, assigned to nobody

[2016-12-18 04:00] rohbotics opened #34 "aruco_dectect needs to get frame_id from camera_info"
fiducial_detect already does this

[2016-12-18 04:11] #34 closed, assigned to nobody

[2016-12-18 04:11] #27 closed, assigned to rohbotics

[2016-12-18 04:24] #6 closed, assigned to rohbotics, jim-v

[2016-12-18 05:17] rohbotics opened #35 "Reset map service for fiducial_slam"
It would be useful to enable better testing.

[2016-12-18 06:10] jim-v commented on #35
Would this clear the map and reload the initial map?

[2016-12-18 06:25] rohbotics commented on #35
I think providing the initial map over the service call would be the best strategy.

[2016-12-18 06:46] rohbotics commented on #29
It does work ..... if you give the right topic remap

[2016-12-18 06:46] #29 closed, assigned to nobody

[2016-12-18 19:23] rohbotics commented on #7
The 0.5.0 release works on the pi, from debs.

We will be available in the next sync, so I am closing this.

[2016-12-18 19:23] #7 closed, assigned to rohbotics, jim-v

[2016-12-18 19:33] #28 closed, assigned to nobody

[2016-12-18 19:40] rohbotics opened #37 "Aruco launch file not installed"

[2016-12-18 19:45] #37 closed, assigned to nobody

[2016-12-18 20:19] rohbotics opened #38 "Look into making a aruco dictionary for fiducials"
The aruco code works better than our original fiducials, but uses a different tag format.

We should be able to create a 'dictionary' for aruco that allows it to work with our fiducials.

[2016-12-18 20:57] rohbotics opened #39 "Clean out fiducial_lib"
There is a lot of stuff that isn't used anymore

[2016-12-18 23:46] rohbotics opened #40 "Remove stuff from fiducial_detect that fiducial_slam does"
Get rid of the marker publishing

[2016-12-19 00:07] jim-v commented on #40
all the tf related code can come out too.

[2016-12-19 01:29] rohbotics commented on #40
Should I remove the estimate_pose parameter, as we will always need to publish the transforms?

[2016-12-19 04:26] jim-v commented on #40
We could leave the estimate_pose parameter in defaulted to false, in case anyone wanted to use a different pose estimator

[2016-12-19 05:56] rohbotics commented on #40
Ok

[2016-12-19 07:40] #39 closed, assigned to rohbotics

[2016-12-19 07:41] #40 closed, assigned to rohbotics

[2017-01-03 00:36] rohbotics opened #43 "Factor out fiducial_slam into reusable components"
This would be useful for implementing #1

[2017-01-03 00:47] rohbotics commented on #1
We want to be able to have a auto_init_map, which takes an initial image from a ros topic.
It should initialize the the current `/base_link` position to zero, and place all currently visible fiducials in the map, then exit.

[2017-01-03 01:15] jim-v commented on #2
- look into using a local threshold to better detect edges in low contrast.

[2017-01-03 01:18] jim-v commented on #2
![getimage](https://cloud.githubusercontent.com/assets/5511255/21598302/8044a14e-d10f-11e6-8ca5-19e94a1a518a.jpg)

[2017-01-06 07:50] jim-v commented on #1
The code to do this is in updateMapFromExternal().  We could have fiducial_slam_node automatically initialize the map if there isn't one already, or maybe have a service call to do this, so it is less mysterious to the user.

[2017-01-07 17:45] waynegramlich commented on #1
On 01/05/2017 11:50 PM, Jim Vaughan wrote:

All:

My $.02 on this stuff is that you want to do as much automagically as possible.

After that we want error messages that both describe the problem *AND* suggest
the solution:

* No camera connected to topic /...
* Fiducial sizes not specified in /.../foo.yaml.

The goal is that when all the error messages are gone, it is working.

Regards,

-Wayne

[2017-01-12 06:01] #43 closed, assigned to jim-v

[2017-01-12 06:02] #1 closed

[2017-01-12 07:10] jim-v opened #45 "Create a utility for generating aruco markers"

[2017-01-16 19:05] #45 closed, assigned to jim-v

[2017-01-22 05:12] rohbotics opened #47 "aruco_detect should publish empty fiducial_vertices"
When there are no markers, we should publish an empty fiducial_vertices

[2017-01-22 06:54] jim-v commented on #47
Yes, I agree.  What do you think about having a single Fiducial message containing both vertices and transforms?  It would fix an inconsistency that there is one message for each set of vertices, but all the transforms for a frame are published together.

[2017-01-22 17:00] rohbotics opened #48 "Fix failing travis builds"
All the travis builds are failing with some quaternion error

https://travis-ci.org/UbiquityRobotics/fiducials/builds/194241805

[2017-01-22 23:58] #48 closed, assigned to rohbotics

[2017-01-26 04:13] rohbotics commented on #47
I think we could refactor the messages to be more consistent. But I think that we should keep them separate in order to allow making the detection and pose estimation into separate nodelets in the future.

[2017-01-27 05:30] #47 closed, assigned to jim-v

[2017-01-29 01:33] rohbotics opened #52 "Version 0.6.0 Release"

[2017-02-05 07:04] rohbotics commented on #52
Closed by https://github.com/ros/rosdistro/pull/13789

[2017-02-11 20:57] #52 closed, assigned to nobody

[2017-04-15 22:14] #12 closed, assigned to nobody

[2017-04-15 22:15] #15 closed, assigned to jim-v

[2017-04-15 22:32] jim-v opened #62 "Save enough data to do bundle adjustment"

[2017-04-15 22:32] jim-v opened #63 "Do multi-fiducial based pose estimation"

[2017-04-15 22:34] jim-v opened #64 "Use kalman filter to integrate with odometry"

[2017-05-06 20:06] #2 closed

[2017-05-06 21:02] rohbotics opened #66 "0.7.0 Release"
We have made a lot of changes, and it is time to do a release to the buildfarm

[2017-05-07 04:55] jim-v opened #67 "Need to create map directory if it doesn't exist"

[2017-05-07 07:06] jim-v commented on #63
Current status:

The branch _estimation_ has the estimation code moved from aruco_detect to fiducial_slam.  Fiducial_detect has been modified to output vertices in an order consistent with aruco_detect.  A thorough test of fiducial_detect is needed before merging this branch.

The branch _multifiducial_estimation_ has the code to do a pose estimate based on all visible fiducials that are in the ma

[2017-05-07 07:52] #67 closed, assigned to jim-v

[2017-05-08 22:21] jim-v opened #69 "Warning in rviz"
scale of 0 in one of x/y/z

[2017-05-08 23:10] #69 closed, assigned to jim-v

[2017-05-10 06:19] jim-v opened #71 "plan missing from rviz display"

[2017-05-10 16:56] #71 closed, assigned to jim-v

[2017-05-11 16:34] sevenbitbyte opened #73 "Marker height drifts"
The tf pose of the detected fiducials if very spatially correct however the visualization markers of the same fiducials has high vertical error.

![height-drift](https://cloud.githubusercontent.com/assets/662932/25960768/d7696cb6-362c-11e7-9a6e-042bf24a6cd1.png)

[2017-05-11 16:37] sevenbitbyte opened #74 "Marker lateral drift"
Very minor errors in marker angular pose estimates cause large lateral jumps in the `/map` frame. The 3DoF position data is great while the full 6DoF pose is extremely noisy.

![latteral-shifts](https://cloud.githubusercontent.com/assets/662932/25960864/24c44c38-362d-11e7-9ff8-5844c58ba7bd.gif)

In this below case I'm not sure why the tf and markers are soo far away in both X & Y lateral direction

[2017-05-11 16:40] sevenbitbyte opened #75 "Provide clear integration path with existing localization stacks"
Please consider supporting:

- [robot_pose_ekf](http://wiki.ros.org/robot_pose_ekf)
- [robot_localization](http://docs.ros.org/kinetic/api/robot_localization/html/index.html)

I believe support should only require a minor modification to fiducial_slam where instead of only outputting  a `/map` tf frame you would also need to provide a new corrected odom topic.

[2017-05-11 17:01] jim-v commented on #75
Thanks for the feedback.  There is a fiducial_pose
(geometry_msgs::PoseWithCovarianceStamped) topic published by
fiducial_slam, which is intended to feed into a Kalman filter.  It's in our
plan to do that, we just haven't got to it yet.

On Thu, May 11, 2017 at 9:40 AM, 7bit <notifications@github.com> wrote:

[2017-05-17 12:26] maxpolzin opened #76 "Build Error in fiducial_pose, Fiducial.h is missing"
I get the following error, when I compile the package with catkin_make:

fatal error: fiducial_msgs/Fiducial.h: No such file or directory

This can be fixed by inserting

add_dependencies(rpp_pose ${${PROJECT_NAME}_EXPORTED_TARGETS} ${catkin_EXPORTED_TARGETS})

in fiducial_pose/CMakeList.txt

I am on Ubuntu 16.04, Opencv 3.2.0, ROS Kinetic

[2017-05-17 14:18] rohbotics commented on #76
Thanks for reporting this issue.

Since you already have a solution, can you please create a Pull Request to contribute this change.

[2017-05-21 17:41] jim-v opened #78 "Adaptive / adaptive thresholding"
To cope better with varying lighting conditions:
  - If a fiducial is not found, increase the range of thresholds that are tried
  - Narrow the threshold search if fiducials are found to the range that found all of them
  - If a threshold is close to 0 or 255, request a change in brightness from the image source (via dynamic configure interface or a new service)

[2017-05-21 17:47] #76 closed, assigned to jim-v

[2017-05-27 16:31] jim-v commented on #66
0.7.2-0 Released

[2017-05-27 16:31] #66 closed, assigned to nobody

[2017-06-03 20:46] davecrawley opened #81 "Get test set of fiducial images w/ varying lighting"

[2017-06-19 08:02] jim-v opened #82 "Tool to estimate pose of camera when it is not aligned with an axis"
We need a tool to determine the camera pose by observing a single fiducial in a known orientation (wall or ceiling).

[2017-06-20 01:35] rohbotics commented on #82
So is this a form of extrinsic calibration of the robot?

[2017-06-23 14:08] jim-v opened #84 "Support multiple coordinate frames"
Need to support having a subset of fiducials in a frame other than map, so that they could be placed on moving bodies.

[2017-06-23 14:47] jim-v commented on #82
It's extrinsic calibration of the camera with respect to the robot.

[2017-06-25 15:00] #82 closed, assigned to jim-v

[2017-07-01 20:35] davecrawley opened #86 "Get bag file of fiducials"

[2017-07-20 04:36] #63 closed, assigned to jim-v

[2017-07-22 20:11] rohbotics commented on #86
@jim-v needs to write some documentation for how to grab such a bagfile

[2017-07-22 20:14] rohbotics commented on #86
https://github.com/UbiquityRobotics/ubiquity_main/issues/57

[2017-07-22 20:42] jim-v commented on #73
The tf shows the currently estimated pose of the fiducual relative to the camera, while the green and red cuboids show the position of the fiducials within the map.  By design, the map requires multiple pose estimates to update.  However, there have been some bug fixes, eg #83 since the issue was opened..  Can you please retry this, and save a bag file of /raspicam_node/image/compressed

[2017-07-22 20:56] rohbotics commented on #38
We decided that aruco is going to completely deprecate the old fiducials

[2017-07-22 20:56] #38 closed, assigned to nobody

[2017-07-22 21:11] rohbotics commented on #86
duplicate of #81

[2017-07-22 21:11] #86 closed, assigned to nobody

[2017-10-03 01:11] nav-go opened #89 "Question about using multiple markers"
Conceptually, how is the camera pose estimated from multiple markers? Does having multiple markers improve the pose estimate?

[2017-10-04 17:48] rohbotics commented on #89
Having multiple markers visible does improve the pose estimate.

Currently the default mode is to calculate the transform form the fiducial to the camera for each detected fiducial, and estimate an error of that measurement. These transforms are then combined, and are weighted based on the error in the measurement, as well as the estimated error of the fiducial in the map  to get the map to camera

[2017-10-06 22:19] nav-go commented on #89
I guess my question is : how are they combined if each marker is at a different position and orientation relative to the camera?

Another question : I've got the package running as per the instructions in the wiki and I am getting a pose estimate from /fiducial_pose with 1 marker placed at about half a meter from camera.

I should be getting a pose estimate which says either x ,y or z=~0.5 right?

[2017-10-06 23:50] jim-v commented on #89
@nav-go each of the fiducial markers is at a known 6 Degrees of Freedom pose in the map frame.  That pose corresponds to the transform from the map to that marker. For each detected marker, we get the pose of the camera in that marker's co-ordinate system.  By multiplying the transforms from map to marker and marker to camera, we get an estimate of the transform from the map frame to the camera (i

[2017-10-07 00:50] nav-go commented on #89
Ah I think I get it now. I'm trying to get the pose of the camera in an room. Please let me know if my approach is correct here:

I've posted a bunch of markers on the wall(not ceiling). I have to specify the location of one of the markers in the map.txt file. I plan to set it to be my origin in the map frame. So write 101 0 0 0 0 0 0 0 0  in the file.

To specify multiple markers, i can now say 1

[2017-10-07 01:28] jim-v commented on #89
You could specify the pose of marker 102, but the software is intended to do Simultaneous Mapping and Localization, so it would build the map itself as it sees multiple markers.

The marked fid 0 is a combined estimate of the camera pose based upon all the markers.

In order to have the camera position show up, you need to specify the where the camera is on the robot, which you can do with `static

[2017-10-07 02:07] nav-go commented on #89
I specified a transform between the camera and a base_link, but it is still not connected to odom. Is it supposed to be?

I get this warning:

Also , what is the syntax of these unknown entries in the map.txt file?

[2017-10-07 03:16] jim-v commented on #89
The default configuration is setup for use on a robot base, where the transform from odom to base_link is published.  fiducial_slam publishes the transform from map to odom, such that map to base_link is correct.  This requires looking up the transform from odom to base_link.  If you don't want that behavior, set the odom_frame to "".

[2017-10-07 03:26] jim-v commented on #89
The format of the map file is described in the documentation: http://wiki.ros.org/fiducial_slam

[2017-10-08 07:47] nav-go commented on #89
Thanks Jim.
Another Question regarding setting up markers and Rviz:

I've designated one corner of the room as the origin and setup the first marker 101 on a wall at a known location and orientation from origin. I can specify this in the map file. In rviz I can see the location change with respect to map frame, but the orientation seems to not change properly. The markers keep facing down and chan

[2017-10-08 22:53] jim-v commented on #89
Nothing in the code makes any assumptions about the pose of the markers - they are full 6DOF poses.
When you add an entry to the map manually, you define a co-ordinate system relative to the marker.  It may be that the orientation of that co-ordinate system is not what you intended.  You can start with an empty map (`rm ~/.ros/slam/map.txt`) and `fiducial_slam` will auto initialize the map by calc

[2017-10-09 20:37] Hodapp87 opened #90 "aruco_detect & fiducial_detect process segfaults with USB cameras"
I have been trying to use USB cameras with the ArUco detection. What I am running into with both aruco_detect and fiducial_detect is that the process dies with exit code -11. With `aruco_detect` it dies immediately with:

[code]

and with `fiducial_detect` it loops:

[code]
and I will then see in dmesg:

[code]

I reproduced this on a stock Ubuntu 16.04 configuration, as well as on Docker. I tried

[2017-10-09 23:00] jim-v commented on #90
It looks like your camera is not calibrated.  See http://wiki.ros.org/camera_calibration/Tutorials/MonocularCalibration for details of how to do this.

Clearly, `aruco_detect` and `fiducial_detect` should handle this condition more gracefully than with a segmentation fault.

[2017-10-10 01:21] rohbotics commented on #90
@Hodapp87 Thanks for such a detailed issue report, and a Docker reproduction of the issue.

@jim-v I made a PR #91, that should fix the crashing symptom.

[2017-10-10 04:19] rohbotics commented on #90
@Hodapp87 PR #91 was merged, so the code should at least not segfault with no camera calibration in the next release.

Let us know if you were able to calibrate your camera and use aruco_detect.

[2017-10-10 16:05] Hodapp87 commented on #90
Oh, interesting. I wasn't aware calibration was a requirement; I had just figured that uncalibrated cameras would give nonsense results, but still at least detect ArUco markers in the frame.

Running with the following seems to be working (my test case had a small mistake):

[code]

[2017-10-10 17:45] jim-v commented on #90
Calibration is only a requirement if you want to do 3D pose estimation of the markers.  If you just want the image co-ordinates, then you can set the `do_pose_estimation` parameter in `aruco_detect` or the `estimate_pose` parameter in `fiducial_detect` to false.  Sorry for the inconsistency in parameter names!

[2017-10-12 03:51] rohbotics commented on #90
@Hodapp87 As it seems your issue is resolved, I am closing the issue.

If you have anymore questions feel free to reopen, or create a new issue. Good luck with whatever you are using `aruco_detect` for.

[2017-10-12 03:51] #90 closed, assigned to rohbotics, jim-v

[2017-11-09 16:05] jim-v opened #94 "Subpixel corner detection with OpenCV 3.3"
OpenCV3.3 provides two options for corner detection:

[code]

We need to figure out which one is best for us and make that the default.

Done when we release a package with the new default.

[2017-11-09 22:44] rohbotics commented on #94
Adding on to this issue, we should have the different modes exposed through dynamic reconfigure, if we can figure out a way to change the configuration options based on the OpenCV version. (maybe import opencv in the dynamic reconfigure python script?)

[2017-11-09 22:47] rohbotics commented on #89
@nav-go I am closing this issue since it seems your questions have been answered. Feel free to reopen or create a new issue if you have more questions.

Good luck with whatever project you are using `fiducials` for.

[2017-11-09 22:47] #89 closed, assigned to jim-v

[2017-11-09 23:32] jimvaughan commented on #94
In the current code there, is a bool for doing subpixel corner detection or not, and a bool for choosing between the two modes of doing it.  The second setting has no effect in OpenCV 3.2.

[2017-11-25 05:15] nav-go commented on #94
Unable to build package with the latest version. I'm assuming it is related to this issue. I'm running OpenCV 3.3.1. Older version of fiducials works fine.

Here is the build error message:

[code]

[2017-12-16 04:15] rohbotics commented on #74
Closing due to staleness

[2017-12-16 04:15] #74 closed, assigned to jim-v

[2017-12-16 04:16] rohbotics commented on #73
Closing due to staleness

[2017-12-16 04:16] #73 closed, assigned to jim-v

[2017-12-21 00:33] rohbotics commented on #81
Add them here: https://drive.google.com/drive/folders/0B1zeRbBVLXhzZ0Q1TkxtbUxIcEU

I added one from my garage

[2017-12-26 21:37] rohbotics commented on #94
@jim-v We should decide this once we have the test set mentioned in #81

[2017-12-29 19:56] jim-v commented on #81
If you are not sure which topics to record, `rosbag record -a` will capture all of them.

[2017-12-30 07:02] rohbotics commented on #81
I added a bag file from the 'ground truth' aruco test board I made to the google drive. It has various different lighting conditions. We should run a fiducial slam test on this bag and compare it to the design dimensions of the board.

Here is the test board design:
![fiducial_test_board svg](https://user-images.githubusercontent.com/2825327/34452000-e5f0ad10-ecea-11e7-9089-a475d40aeed1.png)

The

[2018-01-01 03:55] louislim70 commented on #45
When i tested, the aruco_detect package in fiducials could not detect markers created by "http://terpconnect.umd.edu/~jwelsh12/enes100/markergen.html".
But the marker of the test image(tag_01_d7_14cm.png) in aruco_detect/test/test_images was detected. The shape of two images that marker id is number 1 was very different.
The dictionary of two images is same as aruco::DICT_5X5_250.

Please tell me

[2018-01-01 04:58] jim-v commented on #45
Hi,
By default, the dictionary used by `aruco_detect` is 7 (DICT_5X5_1000), but this can be changed with the `dictionary` parameter.  I've updated the [documentation](http://wiki.ros.org/aruco_detect) to list all the available dictionaries.

The arguments to `create_markers.py` are `startId, endId, pdfFile, [dictionary]`.   You can use the optional dictionary argument to choose a different one.

I

[2018-01-01 05:50] louislim70 commented on #81
I wrote bellow in the closed issue.
I can detect above id of all markers .. 240, 241, 242, 243, 244.
Why can't i detect the markers which create by "http://terpconnect.umd.edu/~jwelsh12/enes100/markergen.html"? What is different?
================== bellow =============
When i tested, the aruco_detect package in fiducials could not detect markers created by "http://terpconnect.umd.edu/~jwelsh12/ene

[2018-01-01 06:22] jim-v commented on #81
@louislim70 Can you please create a new issue to ask your question:
https://github.com/UbiquityRobotics/fiducials/issues/new
I'm happy to help, but it is confusing to everyone if your question is mixed in with a conversation about a different topic.

[2018-01-01 07:23] louislim70 commented on #45
I know my mistake...
i used /fiducials/fiducial_lib/script/create_markers.py. (it created 8x8 markers)
When i use /fiducials/aruco_detect/script/create_markers.py, it generated 5x5 markers which can detecte.

[2018-01-01 09:07] rohbotics commented on #45
@jim-v We may need to put more deprecation warnings on the old style fiducials stuff, or even remove it. It should prevent a whole load of support requests.

[2018-01-06 00:20] nav-go opened #95 "Using multiple cameras"
Is it possible to localize multiple cameras at the same time within a single map or even multiple maps? This feature would be very useful.

I'm basically trying to run two instances of fiducials in parallel with two cameras by putting them in different namespaces but since aruco_detect publishes fiducial_images,vertices and transforms to a single topic, this is a problem.

Is there a recommended w

[2018-01-06 03:08] jim-v commented on #95
To use multiple cameras with a single map would require a change to the map class of `fiducial_slam` so that the transform from `base_link` to the camera is looked up using the `frame_id` field of the transform message.  Then, the estimates would be combined at `base_link`, rather than at the camera, as they are now.  It's not a big change, but it's not currently in our plans.

If you wanted to us

[2018-01-10 01:58] nav-go commented on #95
Thanks, I was able to run two fiducial nodes in parallel by remapping the topics.

[2018-01-10 01:58] #95 closed, assigned to jim-v

[2018-01-16 07:47] nav-go opened #96 "Question about fiducial_pose topic"
Is the fiducial_pose topic supposed to have its frame_id as "camera"? As I understand it, the pose being published is wrt the specified map_frame, correct?

[code]
The code above in map.cpp shows it being set to map frame, but echoing the topic shows frame_id to be camera. Am I missing something here?

This issue causes problems when using this topic in other packages.

[2018-01-16 07:56] jimvaughan commented on #96
The frame_id in the fiducial_pose message is the same as the frame_id in the image from which the pose was determined.  It should be a frame for which a tf exists, so that fiducial_slam can lookup the tf to determine the camera's pose wrt to the robot.  After the pose of the camera is determined by SLAM, the pose of the robot is determined with the camera to robot tf.  If you want to change the im

[2018-01-16 08:00] jimvaughan commented on #96
I'm sorry, I made a mistake.  I thought you were referring to the fiducial_transform messages, which should have the camera's frame_id.  The fiducial_pose messages should be in the map frame.  It looks like the mapFrame variable is set to "camera", is that correct?  Can you check the setting of map_frame with `rosparam`

[2018-01-16 08:05] nav-go commented on #96
rosparam shows /fiducial_slam/map_frame to be map, but the frame_id of fiducial_pose is still "camera".

[2018-01-16 08:14] jimvaughan commented on #96
Yes, you're right: the frame_id of basePose should be set to mapFrame.   Just curious, what are you using the fiducial_pose topic for, are you doing sensor fusion?

[2018-01-16 08:17] nav-go commented on #96
Yes, I'm trying to use it with the robot_localisation package for sensor fusion.

[2018-01-16 08:18] nav-go commented on #96
Where do you think it is getting set to 'camera', and how can we modify it?

[2018-01-16 08:35] jimvaughan commented on #96
It's set to camera because the camera pose was one of the tfs used to generate it.

Just above `posePub.publish(toPose(basePose));`
it should have `basePose.frame_id_ = mapFrame;`

Do you mind making that change and submitting a PR?

[2018-01-16 09:24] nav-go commented on #96
Checked the fix (works!) and submitted a PR from my old fork of fiducials. I hope it can be merged with your newer fork (I'm new to making PRs).

[2018-01-16 09:27] jimvaughan commented on #96
Thanks for finding and reporting the bug!

[2018-01-17 00:47] rohbotics commented on #96
The fix is merged so I am closing this.

[2018-01-17 00:47] #96 closed, assigned to nobody

[2018-01-21 20:13] rohbotics commented on #81
@jim-v Can you review the bags in the folder and see if that is 'good enough' to close this issue?

[2018-01-24 17:22] nav-go opened #98 "Question about noise in pose estimates"
While testing this package, I noticed that the transforms computed by the aruco_detect module is much more stable and less noisy than the final pose computed by the fiducial_slam module. In particular, the left-right and up-down directions (considering moving towards the marker to be forward) are much noisier than forward/backward.

The noise seems to be introduced after the transforms pass throug

[2018-01-25 00:58] jim-v commented on #98
There may be some jitter in the final pose computed by fiducial_slam. If the camera is not well calibrated, it's possible that the pose estimates from different fiducials are not consistent with each other.  Can you record a bag file of all related topics (or `rosbag record -a` if you are not sure which), so I can take a look.  You can upload it here: https://drive.google.com/drive/folders/0B1zeRb

[2018-01-25 01:08] jim-v commented on #98
Information about calibrating a camera: http://wiki.ros.org/camera_calibration/Tutorials/MonocularCalibration

[2018-02-01 15:53] jim-v commented on #35
This needs to be re-implemented in the C++ version of fiducial_slam.

[2018-02-11 16:11] rohbotics commented on #35
For clarity, since this issue has some old stuff in it too, with the map auto-initialization stuff we have now, this needs to simply clear out the old map.

[2018-02-14 17:57] #35 closed, assigned to jim-v

[2018-02-26 02:26] jim-v opened #101 "Model variance differently in each axis"
When fiducials are mounted vertically, perturbation of fiducial poses was reported due to differing estimates of fiducial depth (`z` in the fiducial's frame).  Investigate if this is caused by modeling the variance as scalar, or if multi-fiducial estimation is better in this use case.

DOD: poses of fiducials are subjectively more stable when used in this configuration.

[2018-02-26 02:31] jim-v opened #102 "Keep publishing map -> odom tf"
`fiducial_slam` should optionally keep publishing the most recent `map` -> `odom` transform even if no fiducials are visible, as the previous Python node did.  This will allow the robot to localize with odometry only until fiducials are visible again.  The downside is that there may be a jump when fiducials become visible again.

[2018-02-27 01:06] #102 closed, assigned to jim-v

[2018-04-17 07:33] GuillaumeHauss opened #104 "compilation crash on cv::String::deallocate"
Hi all,
I tried to compile your package from source using catkin on ROS Kinetic and Ubuntu 16.04.
However the compilation crashed on your package. Here is the log trace:

[code]
The fix I found was the following:
Change `find_package(OpenCV REQUIRED)` to `find_package(OpenCV 3 REQUIRED)`
and `${OpenCV_LIB}` to `${OpenCV_LIBRARIES}` every time it was used

I guess there are additionnal checks to pe

[2018-04-17 14:16] robin-read opened #105 "Publish Images param isn't used"
Hello,

Just scanning through your code, I see that on line 375 in aruco_detect.cpp you publish the image with the detected markers. It looks like you're not making any use of the publish_images rosparam that is read on line 401. Is this correct?

Cheers,

R.

[2018-04-17 14:25] jim-v commented on #105
That is correct, thank you for finding and reporting that.
We should either use the parameter as documented, or remove it.
The better solution seems to be to remove the parameter and update the documentation.

[2018-04-17 14:46] robin-read commented on #105
Hi Jim,

Alas I would opt for using the parameter as on computation constrained systems it's perhaps unnecessary to publish the images at all. Just a user's view point :)

R.

[2018-04-17 14:54] robin-read commented on #105
Whoops, sorry for closing!

[2018-04-17 15:40] #105 closed, assigned to jim-v

[2018-04-17 15:42] jim-v commented on #104
Thanks for reporting this.  We will take a look at it.  Note that it does build for others on ROS Kinetic and Ubuntu 16.04, so we need to make sure we don't break that.

[2018-05-31 10:00] fabianbl opened #107 "Question regarding global map optimization."
Very useful and lightweight library, thank you.

One thing that I'm not sure if I got it right from the code is how the map update works: It somehow seems that the poses of the fiducials observed both in the previous and the current frame are updated taking into account the transform variances, is this correct? But there is no global optimization (e.g. non-linear optimization over all corner repro

[2018-05-31 14:36] jim-v commented on #107
That's correct - there is currently no global optimization.  It's something we have discussed in #62.  If you would like to continue this discussion, please could you do it in that issue.

[2018-05-31 14:36] #107 closed, assigned to nobody

[2018-05-31 14:38] rohbotics commented on #107
Saving enough data to do a global optimization such as bundle adjustment is something we hope to implement in the future.

Feel free to ask anymore questions you might have, good luck with whatever you are building using fiducials.

Also PRs are welcome :)

[2018-05-31 14:49] fabianbl commented on #107
@jim-v @rohbotics Thanks for your feedback :-)

[2018-07-22 00:52] #98 closed, assigned to nobody

[2018-07-27 14:59] rohbotics commented on #104
Closing due to age.

Hope you had some good luck getting this working. Feel free to re-open if the bug still exists for you.

[2018-07-27 14:59] #104 closed, assigned to nobody

[2018-08-21 09:18] jim-v opened #108 "Don't publish pose if camera position is not known"

[2018-08-22 15:06] jack-digilabs opened #110 "aruco_detect performance on TX2 and implementing nodelets"
Are there any plans to add nodelets to reduce the CPU consumption?

I've gotten up to about 30fps on a TX2 after switching to the opencv default aruco detector parameters from the defaults the ros aruco_detect package sets (I was getting about 8 fps previously) but the CPU usage is still pretty high at 30fps. I'm thinking the next step would be to make aruco_detect a nodelet.

Any thoughts on how

[2018-08-25 20:09] #108 closed, assigned to nobody

[2018-08-28 01:21] rohbotics opened #111 "Support A4 PDFs"
Might be easier to not have scaling issues for non-Americans, if there was an option to generate native A4 PDFs.

[2018-09-15 20:13] rohbotics opened #114 "Large Fiducial Fields Blow Up (Ingrams Test)"

[2018-09-19 15:55] rohbotics opened #115 "Generate Fiducials at paper size directly"
Required for #111

[2018-09-21 14:34] elisabethwelburn12 opened #116 "Offset on the fiducial transforms"
Hi all,

I am trying to use this program to perform SLAM on my virtual quadcopter on gazebo. I am getting a weird slight offset for all the fiducial transforms produced. I have calibrated the gazebo camera and it has not improved. There are screenshots for both the gazebo simulation and the rviz visualisation. The fid0 transform is off centre and the robot is slightly falling through the floor and

[2018-09-21 14:44] jim-v commented on #116
One thing to note is that when the map is auto-initialized, the pose of the fiducial closest to the robot is calculated such that the robot is at (0, 0, 0).   Is the map being initialized with the quad-copter in flight, or on the ground?   Note that you also have the option of manually initializing the map by creating a single entry in `map.txt` as described in http://wiki.ros.org/fiducial_slam?di

[2018-09-21 15:52] elisabethwelburn12 commented on #116
I manually initialise the map text file and input all the fiducials within it and the markers then appear at the correct location relative to the world frame in RViz.  I start the nodes with the robot on the ground. I have tried initialising the map file with only one fiducial and two fidcucials and the offset remains.  I have noticed the Fid0 is offset to the world consistently and I wonder if th

[2018-09-26 07:05] elisabethwelburn12 commented on #116
Okay, I think I know the cause of this issue, it is because the cam_optical_frame is being estimated at floor height by the fiducial markers. This causes the robot to tilt at an angle, due to the static state publisher publishing a fixed distance between the base link and the camera frame. I am unsure of how to fix this, I have added a z offset on the static transform publisher as above and it jus

[2018-09-26 07:38] jim-v commented on #116
I'm not sure what you are asking - cam_optical_frame does not appear to be at floor height in the image above.  The pose of the camera is estimated from the position of the fiducials in the world (from the map), transformed by the fiducial to camera transform from the pose estimation of the fiducials.  The final estimate of the robot's position is constrained to be on the floor if publish_6dof_pos

[2018-09-26 07:52] elisabethwelburn12 commented on #116
There is a distortion of where cam_optical_frame is spawned within RViz in comparision to the gazebo model. The camera frame is offset from the floor but this isn't detected by the fiducials pose estimation These screenshots below show this a lot clearer.

![gazebo](https://user-images.githubusercontent.com/42639010/46065198-61b85f80-c169-11e8-9320-328a04481829.png)
![fiducials](https://user-image

[2018-09-29 15:48] rohbotics opened #119 "Regression Test for solvePNP error"
This should make sure that the bug fixed by #118 never happens again, by way of adding a test for it in the test suite.

[2018-09-30 05:04] #119 closed, assigned to rohbotics, jim-v

[2018-10-02 06:52] vishalsleotechsa commented on #94
I am use the ros indigo distribution , with opencv version 3.3.1 , still its give error for aruco file like error: ‘struct cv::aruco::DetectorParameters’ has no member named ‘cornerRefinementMethod’
          detectorParams->cornerRefinementMethod = aruco::CORNER_REFINE_SUBPIX;

[2018-10-02 08:29] rdaems opened #121 "Localization mode"
Hi

Is it possible to work in localization mode? The position of the markers keeps changing on the map because accuracy is low and I would like to keep them fixed, so I can be sure other stuff I define in the map frame stays fixed to the markers.

Regards

Rembert

[2018-10-02 09:49] jim-v commented on #121
There are two new parameters in the source for `fiducial_slam` on github:

`read_only_map` if set to true, the map will not be modified (I think this is what you mean by localization mode).

`sum_in_quadrature` if set to true, a different algorithm is used for combining pose estimates, that may be more stable in some circumstances.

They will make it into a release in due course, but if you want t

[2018-10-02 11:10] rdaems commented on #121
Hi @jim-v

Now no new markers are added to the map, that's good. But the markers still change relatively to the map frame and to each other. Is this meant to happen?

I would like to construct a map once, and then use it without changing it.

This is my launch file:

[code]

[2018-10-07 17:28] rohbotics opened #124 "Speed up marker generation"
This is more of a fun project that one could take on, which is to improve the marker generation performance.

Right now generating 100 markers using `rosrun aruco_detect create_markers.py 1 100 markers.pdf` takes 40 seconds on my laptop, and uses almost no CPU. I believe that most of this time is spent in the overhead of `os.system` calls, espically launching inkscape, which is a rather heavy prog

[2018-10-07 22:33] #115 closed, assigned to rohbotics

[2018-10-08 01:43] #124 closed, assigned to rohbotics

[2018-10-08 04:19] rohbotics opened #126 "Disable multifiducial estimation by default"
This was never really tested properly.

[2018-10-08 04:30] rohbotics commented on #121
You you running the latest code from github or are you using the version from apt?

[2018-10-08 04:43] rohbotics commented on #111
Now that the SVG code supports different page sizes, this is just a matter of exposing it through the CLI.

[2018-10-08 04:45] rohbotics commented on #94
@vishalsleotechsa Please open a new issue for your build error, don't post it on existing issues. This will allow us to help you better. Thanks!

[2018-10-08 04:47] rohbotics commented on #81
Closing this issue, because the current ground truth board bag file is good enough for now. For anything more this issue becomes unclose-able.

[2018-10-08 04:47] #81 closed, assigned to jim-v

[2018-10-08 08:14] rdaems commented on #121
I'm running latest code on github

[2018-10-08 14:55] jim-v commented on #121
In rviz, you should see red or green cuboids for the positions of the fiducials in the map - these should not move.  There will also be a set of axes shown with a name like fidxxx for each observation of a fiducial marker.   Can you confirm if the cuboids are moving (they shouldn't).   Thanks!

[2018-10-08 21:02] rohbotics commented on #121
Are the markers that you are talking about the tfs or the cubiods in rviz? The tfs are published by aruco_detect and are just the position estimates of the fiducial relative to the camera.

[2018-10-08 21:10] rohbotics opened #128 "Add an option to fit_plane to adjust the map"
Move the fiducials to align them to the plane fitted, or a specified plane.

[2018-10-11 07:14] rdaems commented on #121
Hi

Yes they were the tfs, I thought they were published by the slam.

Thanks for the explanation, I'll close this now

[2018-10-11 07:14] #121 closed, assigned to nobody

[2018-10-11 23:21] #128 closed, assigned to jim-v

[2018-10-13 04:05] #126 closed, assigned to nobody

[2018-10-13 20:35] rohbotics opened #131 "Save fiducial_len in map file"
- [ ] aruco_detect needs to publish the fiducial len
- [ ] fiducial_slam needs to save this information in the map somehow
- [ ] aruco_detect needs a service call (or dynamic_reconfigure) to load this information in

[2018-10-20 20:13] rohbotics opened #133 "Model error based on center-ness (or some other heuristic)"
Weight fiducials in the center of the image more heavily.

[2018-10-20 23:15] rohbotics commented on #133
Note this notion is not entirely bogus, as auto exposure and white balance of the camera are done with center-weighted metering, this means that the center of the image will have more ideal capture parameters.

[2018-10-21 21:57] #133 closed, assigned to nobody

[2018-10-24 05:51] chrissunny94 opened #136 "How to use Aurco_detect without raspicam?"
The topics concerned with the camera (Currently a Kinect is publishing the below topics )

`/camera
/camera/depth/camera_info
/camera/depth/image_raw
/camera/depth/points
/camera/parameter_descriptions
/camera/parameter_updates
/camera/rgb/camera_info
/camera/rgb/image_raw
/camera/rgb/image_raw/compressed
/camera/rgb/image_raw/compressed/parameter_descriptions
/camera/rgb/image_raw/compressed/para

[2018-10-24 05:54] chrissunny94 commented on #136
I am trying to use this launch file .

https://github.com/UbiquityRobotics/magni_robot/blob/indigo-devel/magni_nav/launch/aruco.launch

Did the following modifications .

    <arg name="camera" value="/camera/rgb"/>

    <arg name="image" value="image_raw"/>

     <arg name="transport" value="raw"/>

[2018-10-24 06:00] rohbotics commented on #136
Hey @chrissunny94

Something like this should work
[code]

[2018-10-24 06:20] chrissunny94 commented on #136
@rohbotics , Thanks man , solved it .

[2018-10-24 06:22] #136 closed, assigned to nobody

[2018-10-26 11:33] nihad-s opened #137 "aruco_detect does not detect all visible marker"
Its very strange behavior where the same marker (on the wooden pole) gets detected from quite far away but once I get close and the marker/camera are still it is not getting detected even though all the marker are clearly better visible.

![aruco_detect](https://user-images.githubusercontent.com/40424708/47562443-bee93180-d91e-11e8-940e-a21c55419ed5.png)

Putting a white background (white paper) b

[2018-10-26 13:49] #111 closed, assigned to rohbotics

[2018-10-28 04:15] jim-v commented on #137
The detector is looking for a wider white border around the image than you have in the undetected fiducial.  It is possible to adjust the parameters.   They can be adjusted with [dynamic reconfigure] (http://wiki.ros.org/rqt_reconfigure) so you can find parameters that work for you and then set in the configuration or launch file.

[2018-10-28 16:00] rohbotics commented on #137
The minimum white border we recommend is slightly larger than 1 square of the marker.

The lines in the file from `create_markers.py` represent the recommended minimum border.

[2018-10-28 16:11] rohbotics opened #138 "Split detection and pose estimation in aruco_detect"
Have aruco_detect only detect the markers in the image_callback and publish the vertices.

Then have it subscribe to its own vertices publish and do estimation in that callback.

This should create a better code split, and allow us to write tests of the pose estimation. Also then we can try using an `AsyncSpinner` on multiple threads to see if there is a performance improvement.

[2018-10-28 19:05] jim-v commented on #138
Having tests of the pose estimation seems good.

I don't think there will be much of a performance improvement from this refactor, since the expensive OpenCV routines use multiple threads.

[2018-10-29 08:23] ninnom commented on #137
I see so the border was a bigger issue than I expected. I will make sure that it is at least 2 squares from now on.

I already looked into the parameters but they are very complicated and I don't want to make it worse for some cases where it is already working very good. Any recommendation on which parameters I should try to adjust?

Outside of that thank you very much and you can close the Issue.

[2018-11-03 22:02] #137 closed, assigned to nobody

[2018-11-04 15:15] rohbotics commented on #138
The problem I see with this now is the published images. These require both the vectors and the axis, so the image needs to be copied around.

[2018-11-10 08:17] jim-v opened #139 "Make sure cariosvg is available"
[code]
This could be addressed by calling `checkCmd` or with package dependencies.

[2018-11-10 17:53] rohbotics commented on #139
This is already in there:
```checkCmd("cairosvg-py2", "python-cairosvg")```

now that this PR is in: https://github.com/ros/rosdistro/pull/19245/ we should just add it as a rosdep, along with joblib https://github.com/ros/rosdistro/pull/19244

[2018-11-10 23:54] jim-v commented on #139
It shoukd have the import statement for cairo in a try block, otherwise the
script exits before the checkCmd if cairo is not installed.

[2018-11-12 04:45] #139 closed, assigned to rohbotics

[2019-01-02 19:26] jack-digilabs opened #142 "fiducial_slam pose estimation adds random aruco markers"
I'm using the latest kinetic-devel branch of fiducials and when I use fiducial_slam pose estimation I get random Aruco markers added to the map even when I have aruco_detect ignoring all Aruco markers I'm not using. Attached is a zip folder containing aruco_detect.launch and fiducial_slam.launch I'm using and the map fiducial_slam created. I only have aruco markers 1,2, and 3 in view of the camera

[2019-01-02 22:59] jim-v commented on #142
It seems more likley that `aruco_detect` is detecting the erroneous fiducials.  Note that the dictionary you use gives a trade off between better error correction, or a large number of distinct fiducials.

See the "Selecting a Dictionary" section of https://docs.opencv.org/3.4.2/d5/dae/tutorial_aruco_detection.html.

If you want to be certain that the fiducials are coming from `aruco_detect` and n

[2019-01-02 23:47] jack-digilabs commented on #142
Ah you are right. I thought I isolated the erroneous detections to fiducial_slam but I just checked the aruco_detect code and found...
if (doPoseEstimation) {
... stuff ...
                if (std::count(ignoreIds.begin(), ignoreIds.end(), ids[i]) != 0) {
                    ROS_INFO("Ignoring id %d", ids[i]);
                    continue;
                }
... stuff ...
}

So the rosparam ignore_

[2019-01-03 00:10] jim-v commented on #142
Thanks for pointing that out.  That is a bug, it was intended that the `ignore_fiducials` parameter would be independent of pose estimation.

[2019-01-03 00:19] jack-digilabs commented on #142
The code below seems to be working for me in that I have multiple warnings that ID's were detected and ignored and it hasn't polluted the fiducial_slam map.

        for (size_t i=0; i<ids.size(); i++) {
            if (std::count(ignoreIds.begin(), ignoreIds.end(), ids[i]) != 0) {
                ROS_WARN("Ignoring id %d", ids[i]);
                continue;
            }
            fiducial_msgs

[2019-01-03 01:16] jim-v commented on #142
Can you make a pull request, then we can incorporate your fix.

[2019-01-03 16:00] LapinCodeur opened #144 "Aruco_detect detects 1 marker before dying"
I have a small issue with Aruco_detect, when I launched it, I got this :

[code]

The log file is empty. I am not quite sure about my launch file, I have tried to modify it to run with the published topic of my Realsense camera that come from my simulation. The topic from the camera works fine.
My launch file :
[code]

[2019-01-03 22:53] jack-digilabs commented on #142
Submitted #143 to fix this issue.

[2019-01-04 10:05] LapinCodeur commented on #144
I have two problems, I can't change do_pose_estimation to false, if I do it in the launch file, it is still appearing as true in parameters when I run the launch file. And the error that is breaking down my node is due to this function `void FiducialsNode::imageCallback(const sensor_msgs::ImageConstPtr & msg)`
Inside of this :
[code]
It seems that frameNum is below 5.
So, I just got the return and

[2019-01-07 10:31] LapinCodeur commented on #144
I think that the error is due to the topic camera_info that is incomplete in the simulation of the realSense camera. I have try with a more simple camera and everything was fine.
[code]

[2019-01-07 14:20] jack-digilabs commented on #142
#143 fixes this issue.

[2019-01-07 14:20] #142 closed, assigned to nobody

[2019-01-14 21:21] AnasIbrahim commented on #64
hello,
I'm trying to achieve this task right now, but maybe a little differently.
my setup have an iRobot create base and a Ceiling camera (so camera detect moving fiducials on the robots not the other way around) and i'm trying to fuse them using robot_localization package. so, i guess my tf setup will simply be:
map ------static_transform_to------> odom ------fused_odom------> base_link

The poi

[2019-01-14 21:59] jim-v commented on #64
Hello,

Thanks for your message.  The `tf` published by the `aruco_detect` node contain the position of the fiducials relative to the camera.  These are used by the `fiducial_slam` node to generate a map and localize the robot.  The pose of the robot is published by `fiducial_slam` as both a `tf` and a `PoseWithCovarianceStamped` message.

Please let us know how you get on with the Kalman Filter.

[2019-01-18 10:02] AnasIbrahim commented on #64
I got the EKF to work, i will be pushing my changes in this [repo](https://github.com/AnasIbrahim/ceiling_cam_fiducials_odom_ekf).

As my configuration is different from what fiducial_slam does (fixed ceiling camera, fiducials on robots), i ran fiducial_slam to get the tf frames but give it param base_frame=dummy_frame, so it only publish the tf frames (another node convert it to pose) and do noth

[2019-01-28 04:15] aaryansagar opened #145 "Fiducial marker visual lagging and image jumping isuue"
Hi,
While tracking the markers and publishing the image, the image is jumping and it only shows when the marker is kept static. While moving the marker quickly, the continuous movement image of the marker is not being published and it appears as the image is jumping. However, If I move it slowly then it can show a continuous image. Also, It is happening in x and y-direction only and its okay in z-

[2019-01-28 04:22] jim-v commented on #145
Hi,

It is intended that the markers are static and the robot moves around and builds up a map of fiducials.

There are two ways fiducials are visualized:  by a square showing the position in the map, and by a set of axes. The square should move slowly, as the map is being updated with the fiducial's new position. The axes show the fiducial pose relative to the camera, this should be updated as ea

[2019-01-28 04:30] aaryansagar commented on #145
Thank you for your reply. So, in my case, I want to use it where the camera is fixed but markers are attached to the object and the object is moving. I guess thats the problem as according to you the fiducial package is designed where marker is static and camera is moving. If thats the case can you suggest which other package can be used in my case or if there is any other way to fix this issue?

[2019-01-28 04:36] jim-v commented on #145
There are two nodes involved: `aruco_detect` which detects the markers and publishes their pose relative to the camera, and `fiducial_slam` which deals with the map.  In your case, you don't want `fiducial_slam`, but maybe `aruco_detect` is still useful.

Note that in the coordinate system of the marker, z is normal to the plane of the camera and is not related to the distance from the camera.

[2019-01-28 04:47] aaryansagar commented on #145
Actually, I am only using aruco_detect in my program. Its showing the lag in the RVIZ section. Do you think it might have to do something with RVIZ code because of which its causing the lag for movement of marker at certain speed?

[2019-01-28 04:51] rohbotics commented on #145
The lag could be from the processing, what kind of system are you running this on?
Jim, could you suggest the parameters to tune to reduce CPU requirements?

Also if you are trying to track fast moving fiducials, make sure that your camera has a low shutter speed so that you don't have too much motion blur. What camera are you using?

[2019-01-28 05:01] aaryansagar commented on #145
I am using Ubuntu 16.04 on VMWare and have allowed 16GB of RAM and 4 core processors to the VMWare.
![image](https://user-images.githubusercontent.com/47096390/51815576-79266700-2287-11e9-9731-b5e62d1cc2e4.png)

Also, I have tried it with both webcam and IDS UI3160 camera with max 255fps.

[2019-01-28 05:11] jim-v commented on #145
You can get a measure of the speed with `rostopic hz /fiducial_transforms`   The processing can be sped up in various ways, all with some consequences.   One way is to work with a smaller image, if that is acceptable, other ways involve changing the detection parameters.   Let's start by determining what speed you are getting and what is desired.

[2019-01-31 06:31] juanea commented on #139
I still have this problem.

$ rosrun aruco_detect create_markers.py
Traceback (most recent call last):
  File "/opt/ros/kinetic/share/aruco_detect/create_markers.py", line 8, in <module>
    import cairosvg
ImportError: No module named cairosvg

What should I do?

Thanks

[2019-02-01 03:20] juanea opened #146 "fiducials.pdf genMarker() 3 arguments but 2 are given"
Traceback (most recent call last):
  File "/home/juanea/catkin_ws/src/fiducials/aruco_detect/scripts/create_markers.py", line 117, in <module>
    genMarker(i, dicno)
TypeError: genMarker() takes exactly 3 arguments (2 given)

[2019-02-06 19:55] jack-digilabs opened #147 "I want just fiducial pose estimation. Should I make it another node called fiducial_localization or find a way to work it into the existing nodes?"
I'm looking at a simpler fiducial node that takes a predefined fiducial map and publishes pose estimates with covariances. The way the current fiducial_slam package is structured, I don't see a good way of bisecting out the Mapping so only Localization is performed without several changes to how the variance propagates. Specifically, the camera pose variance seems to be based on the fiducial's var

[2019-02-06 20:10] jack-digilabs opened #148 "publish_tf doesn't seem to be used in the example fiducial_slam.launch"
I see there is a boolean rosparam called "publish_tf" which I'd assume turns off the map->odom publishing however it doesn't look like it's used at all. Is this what it was intended for but didn't get implemented?

I didn't see that rosparam until after I already wrote some of my own code to that checks if tf_publish_interval is negative, then doesn't publish tf and it's working fine, but I'd be h

[2019-02-07 16:44] Tuebel opened #149 "Build error with OpenCV 3.2"
I think it is the same build issue that was mentioned in a comment of #94.
The problem is that the missing members (see the log) were introduced in OpenCV 3.3.
In aruco_detect.cpp the macro `#if OPENCV_MINOR_VERSION==2` tries to prevent the error but the version.hpp from OpenCV only defines `#define CV_MINOR_VERSION 2`.
Changing the lines in aruco_detect.cpp fixes the issue for me.

Here is the cm

[2019-02-08 06:52] #149 closed, assigned to nobody

[2019-02-09 05:35] rohbotics commented on #146
What is the exact command that you ran that produced this error?

[2019-02-09 05:56] rohbotics commented on #147
There is a `read_only_map` parameter, that prevents the map from being updated as new detection come in. Does that suit your needs?

[2019-02-09 21:58] juanea commented on #146
The one on the example for creating the fiducials on the ros wiki:
http://wiki.ros.org/fiducials
`rosrun aruco_detect create_markers.py 100 112 fiducials.pdf`

[2019-02-09 23:26] rohbotics commented on #146
Thanks for reporting the bug @juanea I opened a PR that should fix it #151

[2019-02-09 23:39] #146 closed, assigned to rohbotics

[2019-02-10 21:17] rohbotics commented on #144
Since the solution seems to be just calibrating the camera, i am closing this issue.

[2019-02-10 21:51] jim-v commented on #144
I think that the case where there is calibration data, but it is invalid should be handled more gracefully.  I will implement a fix, in the next week or two.

[2019-02-10 21:57] rohbotics commented on #144
That seams reasonable

[2019-02-12 15:15] Tuebel opened #152 "Increasing detection robustness using OpenCv default parameters"
Is there any reason why you are not using the OpenCv default DetectorParameters from this [page](https://docs.opencv.org/3.1.0/d1/dcd/structcv_1_1aruco_1_1DetectorParameters.html)?
I found the detection to be more reliable using those parameters with dynamic_reconfigure.

[2019-02-12 15:18] rohbotics commented on #152
We tuned the detector params for a balance of performance and robustness.

We should probably re-evaluate how much faster our detector params are.

[2019-02-13 12:57] Tuebel commented on #152
That makes sense to me.

I did not measure the performance but the node is still able to run at 30fps on a 1280x720 resolution.
So for me the performance is just fine.

[2019-02-13 16:57] rohbotics commented on #152
What are your running on? We were doing performance tuning for a raspberry pi, so you probably have much more computational horsepower.

[2019-02-13 17:41] Tuebel commented on #152
I'm running this on my work notebook, which has a 7th Gen i7 processor.
So in contrast to your raspberry pi setup I will probably never see a difference.

[2019-02-15 15:11] jack-digilabs commented on #147
Sorry for the slow response. I wanted to make sure I was correct in my variance propagation. I'll be referencing PR #153 I just submitted to make it easier to reference parts I am thinking of changing. Feel free to close it.

So right now there are a couple issues fiducial_slam has in being used for just a pose data source.

1. It publishes a tf from map->odom and there's no way to currently turn

[2019-02-17 17:15] rohbotics commented on #152
Closing this now, thanks for reaching out

[2019-02-17 17:15] #152 closed, assigned to nobody

[2019-02-18 11:54] elisabethwelburn commented on #148
Hi, I'm currently trying to work on the same problem (ie publishing pose but not the tfs themselves). Can I ask, what did you change exactly? Did you just make the tf_publish_interval  negative? Could you attach this code? You'd be doing me a huge favour and also I'm happy to help implementing it :)

[2019-02-18 13:44] jack-digilabs commented on #148
Sure can! I won't be able to get to it immediately today but I'll be
submitting a PR before the end of the day (CST).

On Mon, Feb 18, 2019 at 5:54 AM elisabethwelburn <notifications@github.com>
wrote:

[2019-02-22 16:03] mistoll opened #155 "melodic release for fiducials"
What are your plans for releasing to melodic?

With https://github.com/UbiquityRobotics/fiducials/commit/7f9d4d7107e3432f24761c3500f342e2c748ecef a major issue on melodic is solved.

[2019-02-23 05:02] rohbotics commented on #155
@jim-v
Do you think there are any big changes/cleanup things that we need to do? Doing them only for the melodic release may make sense

[2019-02-23 05:07] jim-v commented on #155
It builds without warnings and the tests pass under melodic, so I think it will be fine.

[2019-02-24 05:53] rohbotics commented on #155
Ok I will run the melodic release next week

[2019-03-25 01:15] rohbotics commented on #148
Closed by #154

[2019-03-25 01:15] #148 closed, assigned to nobody

[2019-03-25 01:36] rohbotics opened #158 "Covariance matrix being set incorrectly - not diagonal"
What we have:
[code]

What it should be
[code]

[2019-03-25 03:57] rohbotics commented on #145
@aaryansagar I am closing this because of lack of response.

Hope that you found a solution for your project. Feel free to reopen if desired.

[2019-03-25 03:57] #145 closed, assigned to nobody

[2019-03-25 04:09] #158 closed, assigned to rohbotics

[2019-03-29 05:13] rohbotics commented on #155
Hi there, sorry for the delay. I ran into an issue with how we define the opencv dependency and how we should define it for melodic.

The `opencv3` package no longer exists, so we need to change it to `libopencv-dev` for melodic onward. I wonder if there is a way to do this without a branch.

[2019-03-29 11:13] mistoll commented on #155
There's some documentation about jade to kinetic migration in http://wiki.ros.org/opencv3 (Dual Compatibility). They propose to depend on cv_bridge or image_geometry. IMO this should also work for kinetic to melodic migration. As fiducials already depends on cv_bridge you can simply remove the opencv3 dependency.

[2019-04-01 07:13] rfeistenauer opened #161 "CairoSVG only with Python 3"
When using the command to create markers:
rosrun aruco_detect create_markers.py 100 112 fiducials.pdf

i get: ImportError: No module named cairosvg

Trying to install it results in another error:
CairoSVG does not support Python 2.x anymore. Please use Python 3 or install an older version of CairoSVG.

I already used marker creation some month ago, so I gues thats a new problem.

Even switching to

[2019-04-03 12:11] ghost opened #162 "Read the camera calibration parameters from files instead of from the topic"
I have calibrated my camera according to this [tutorial](http://wiki.ros.org/camera_calibration/Tutorials/MonocularCalibration), and the obtained calibration parameters are stored in the `yaml` and `ini` files. Because the camear driver I wrote only provides the `sensor_msgs/Image` topic(it is an industrial DVP interface camera, I can only convert the cv images to ros image messages and publish th

[2019-04-04 02:27] #162 closed, assigned to nobody

[2019-04-04 02:54] ghost opened #164 "Get the plane coordinates of the fiducial markers"
In my test environment, the fiducial markers are attached to the ceiling, so the fiducial markers are all on the same plane. I want to get the absolute coordinates of the plane of each marker (the first marker detected is set to the origin, the coordinates of other markers are relative to the coordinates of the origin). Is there a corresponding method?

[2019-04-04 03:30] jim-v commented on #164
The 6-DOF pose of each marker is stored in the file ~/.ros/slam/map.txt.   The pose of the first marker detected is set such that the robot is at (0,0,0,0,0,0).

Please see the [documentation](http://wiki.ros.org/fiducial_slam?distro=kinetic) for more details

There is also a [script](https://github.com/UbiquityRobotics/fiducials/blob/kinetic-devel/fiducial_slam/scripts/fit_plane.py) that can be u

[2019-04-04 03:30] #164 closed, assigned to nobody

[2019-04-04 03:31] jim-v commented on #161
We will look into an alternative.  It's not clear what the best solution is, since the OpenCV Python bindings are not available for Python3 with the standard ROS packages on Kinetic.

[2019-04-04 05:00] ghost commented on #164
@jim-v Hello,sir. Does 'map.txt' record the pose of each marker relative to the robot? Is there a way to simply get the pose of every marker relative to the original marker?(the first marker detected is set to origin marker and every value of the pose is 0). I don't need the location of the robot currently. I just want the pose of every marker.

[2019-04-04 05:44] jim-v commented on #164
The map file contains the pose of the fiducials relative to the map
co-ordinate system.  It is independent of where the robot is.

I'm not sure if by pose, you mean a 6 degree of freedom pose, or just the
x,y,z linear portion.   If you just want the linear portion, you can
subtract the position of the first fiducial from all the others.   If you
want a full 6 DOF pose, you need to create a matrix

[2019-04-04 07:09] ghost commented on #164
@jim-v
  Can `map co-ordinate system` be understood as the position of the robot when the first marker is detected? And in the subsequent robot movement process, the relative position of each detected marker and map co-ordinate system will be written to the file `map.txt`.
  I just want to get the x, y and theta of each marker relative to the origin marker.

[code]
 This is the content of the `map

[2019-04-04 07:23] jim-v commented on #164
The origin of the map coordinate system is where the robot was when the first marker was detected.  The first marker is not the origin, but it is treated differently to the others in that its position won't change.
The first marker detected was 36, this can be determined because the 8th value in that line is 0, meaning it's pose won't be updated.

In the example above, the markers do not seem to b

[2019-04-04 14:28] rohbotics commented on #161
What version of ubuntu are you on where you see this error?

[2019-04-04 14:44] rfeistenauer commented on #161
Ubuntu 16.04 with ROS kinetic

[2019-04-06 10:21] ghost commented on #164
@jim-v Hello,sir. I just tested [fiducials](https://github.com/UbiquityRobotics/fiducials) with the following A4 paper with aruco markers printed.
![Imgur](https://i.imgur.com/ESbHncL.jpg)
Obviously, they are all on one plane, I ran the [script](https://github.com/UbiquityRobotics/fiducials/blob/kinetic-devel/fiducial_slam/scripts/fit_plane.py) you mentioned, and the feedback shows me something li

[2019-04-06 16:46] jim-v commented on #164
The blue dots are the position of each marker and the red dots are that position projected onto the plane that is fitted.  If the blue and red dots line up, then there is a good fit.   I ran the script on the map data you sent and got this:

[code]

The residual being low suggests they plane is a good fit.

You could use the `move_origin.py` to subtract the fist marker.  But the x,y,z coordinates

[2019-04-06 18:53] jim-v commented on #164
Does this do what you want:

[code]

On your data, it gives:
[code]
![image](https://user-images.githubusercontent.com/5511255/55673869-9f0d5080-5862-11e9-9705-e4728281719f.png)

[2019-04-07 12:34] ghost commented on #164
Thank you for your patience. What I want is the poses of all the aruco markers relative to a specified marker. The `map.txt` generated by `fiducial_slam` contains the poses of all markers relative to the `map co-ordinate system`. I am wondering if it is feasible to let `move_origin.py` read the `map.txt`, and then convert the poses of the markers relative to the `map co-ordinate system` to the pos

[2019-04-07 16:48] rohbotics commented on #161
I think svglib is a good solution, it will not be as fast as CairoSVG, but nowhere near as slow as Inkscape was with its long startup times.

I'll look into it

[2019-04-07 17:36] jim-v commented on #164
Yes, you could use `move_origin.py` to subtract the translation of one pose from the others.  But note that it wouldn't convert the poses into the co-ordinate system of the specified marker, since the script only deals with translation, not rotation.

You could also manually create a map that puts which ever marker you want at the origin and then detect the others.

[2019-04-09 14:37] msteinbo1337 opened #166 "Datasets and configuration parameters"
Hey,

I want to get this fiducial SLAM run with my camera. I succeed to detect some generated tags with the aruco_detect node and display them in rviz. However there are some transform errors between some frames and I'm not able to display the path of my camera, like it is done in the demonstration at "https://www.youtube.com/watch?v=Ckf1QAuTKqc" . Are there any examples how to configure the launc

[2019-04-09 17:32] jim-v commented on #166
Hi @msteinbo1337,

That video is not from our software!  Our software uses aruco tags.

The `/plan' topic in rviz is for [move_basic](https://github.com/UbiquityRobotics/move_basic).

[2019-04-12 03:10] rohbotics commented on #166
Closing this because it is not related this repo.

[2019-04-12 03:10] #166 closed, assigned to nobody

[2019-04-12 21:47] anfederman commented on #139
I just ran into this now.  If you try to run by changing to python3, the script fails. So no markers for me

[2019-04-12 23:33] jim-v commented on #139
The issue you ran into is #161.

[2019-04-13 17:22] #161 closed, assigned to rohbotics

[2019-04-19 18:11] anfederman opened #168 "Getting aruco detect to work with a Asus depth camera"
I am trying to get a non Raspberry pi camera working with aruco detect.  The camera is supplying a topic /camera/rgb/image_view/compressed  but this does not get remapped to fiducial images.

I tried editing this line in the launch file:

   <remap from="/camera/compressed"
        to="$(arg camera)/$(arg image)/$(arg transport)"/>

to "/camera/rgb/image_view/compressed"

in the launch file to no

[2019-04-24 02:19] rohbotics commented on #168
@anfederman

A couple points:
`/fiducial_images` is an **output** of aruco_detect, it draws nice visualizations on top of the camera output.

You say "This line in the launch file" what are you referring to? Please post your _entire_ launch file, plus the output of `rostopic list`

[2019-05-07 23:45] jim-v opened #169 "Need to dynamically change the list of fiducials that are ignored."

[2019-05-17 09:17] ln-12 opened #172 "Wrong pose estimation for Raspberry Pi + camera module v2.0"
I'm currently working on a project which involves a small robot controlled by a Raspberry Pi which has to know it's position to perform a task. For that, I want to use aruco markers + the official camera module. I followed the instructions at https://github.com/UbiquityRobotics/raspicam_node/blob/kinetic/README.md to install the raspicam package and respectively http://wiki.ros.org/fiducials to in

[2019-05-17 12:36] johnjin404 commented on #147
Hello, I am new to this field, would u please tell me what's the meaning of the "objectError", I don't know why the formula is like this
 "(reprojectionError / dist(imagePoints[0], imagePoints[2])) *(norm(tvec) / fiducialLen);"
thank u very much!

[2019-05-17 14:51] jim-v commented on #147
Hi @johnjin404

Thanks for your question.  In future, could you please create a new issue instead of responding to an existing one.

The object error is an _estimate+ of how much error (in meters) there is in the object's pose estimate, based on the reprojection error (in pixels).  `dist(imagePoints[0], imagePoints[2])` is the distance between two image vertices in pixels, `fiducialLen` is the sam

[2019-05-17 16:52] jim-v commented on #172
Hello,

The output you highlighted in red should be the translation vector between the fiducial and the camera.  If it is wildly off, it's worth checking that the fiducial is physically the size expected by `aruco_detect`.

[2019-05-18 16:29] ln-12 commented on #172
Yep, I also checked that before.

Today I tried out the calibration tutorial at https://github.com/UbiquityRobotics/raspicam_node/#calibration to get my own calibration file and now everything works as expected. I'm adding the content of the generated .yaml file below if someone has the same problem and finds this issue.

image_width: 1280
image_height: 960
camera_name: narrow_stereo
camera_matrix

[2019-05-18 16:29] #172 closed, assigned to nobody

[2019-05-18 16:38] jim-v commented on #172
Thanks for the calibration data!

[2019-05-25 18:34] rohbotics commented on #169
Closed by #170

[2019-05-25 18:34] #169 closed, assigned to jim-v

[2019-06-01 16:01] rohbotics opened #173 "Code Cleanup Notes"
1) using namespace in header - Generally bad practice, can lead to weirdness

2) 'position' in observation class, I am having trouble understanding what this is for? It seems to only be used for printing. Maybe remove it?

3) map<int,int> in Fiducial. The second int should at least be a bool. More than this I think a map is the wrong tool to use, a std::set would work just fine, because we only ca

[2019-06-01 16:04] rohbotics opened #174 "Fid 0 should be a valid Fiducial ID"
Fid 0 is currently used as a special case to handle the multi fiducial stuff, but fid0 is a valid id, so we should some other sentinel value (maybe fid-1).

[2019-06-01 18:53] jim-v commented on #174
Yes, or we could remove the multi fiducial code entirely.

[2019-06-02 16:26] #173 closed, assigned to rohbotics

[2019-06-09 23:40] davecrawley opened #177 "Sometimes creates spurious fiducials in map"
Have observed that sometimes we see in `map.txt` things like the following:

[code]

250 and 300 are legitimate fiducials and the only fiducials present, what the others are is unknown.
`rostopic echo /fiducial_map` yields

[code]

[2019-06-11 01:24] IanBurwell opened #178 "fiducial_len_override causing a CV error"
Upon setting fiducial_len_override, aruco_detect throws errors even after noting that it has detected all 4 markers in the image.

[code]

Here is the relevant part of my launch file:

[code]

My use of fiducial_len_override looks very similar to the documentation so I am confused where the error stems from.

[2019-06-11 07:43] jim-v commented on #178
Thanks for reporting the issue.  The floating point lengths are not being parsed correctly, causing the length for fiducials 0-3 to be 0, which causes the assertion error.   We will make a fix shortly.

[code]

[2019-06-11 14:48] rohbotics opened #181 "Travis is broken"
Travis is failing everything, we need to investigate it.

[2019-06-11 14:49] rohbotics commented on #178
This should be fixed after #180 is merged in if you are building from source. Thanks again for the bug report.

[2019-06-11 15:45] #178 closed, assigned to nobody

[2019-06-15 20:34] rohbotics opened #182 "Remove Multi fiducials"

[2019-06-15 20:35] #168 closed, assigned to nobody

[2019-06-15 20:35] #155 closed, assigned to rohbotics

[2019-07-05 09:56] thibnoel opened #183 "Global topic names prevent usage in multi-robot scenarios"
Hello,
I am working on a cooperative multi-robot scenario, and I would like to use the aruco_detect node to get the transforms between each of the robots and some Aruco markers in order to plan cooperative manipulation tasks. However, when looking at the code, it seems that the topic names are defined globally, for example :
[code]
This results in both nodes publishing their results on the same to

[2019-07-05 16:24] jim-v commented on #183
Hi Thibault,

We could change the names to not start with /.   If you are willing to work on this, please feel free to send a pull request.

Jim

[2019-07-06 21:11] #182 closed, assigned to rohbotics, jim-v

[2019-07-06 21:35] rohbotics commented on #174
Closed #184

[2019-07-06 21:35] #174 closed, assigned to nobody

[2019-07-08 01:50] rohbotics commented on #183
You could also write your own launch files that rename the topics or launch the nodes in a namespace.

[2019-07-08 07:52] thibnoel commented on #183
Hello,

Thanks for your answers! I had tried to run the node in a namespace, but the global naming was overriding the namespace prefix. I should have thought about remapping the topic though, this works as expected :)

The difference I see between using local names or remapping the topics to local names directly in the launch file is only that the fisrt solution resolves to the topic name being "/

[2019-07-09 03:43] rohbotics commented on #183
I think the right thing to do is to make the topics published from a public
node handle, without a leading /.
That way namespacing should work by default, even without remapping.

Rohan

On Mon, Jul 8, 2019 at 12:52 AM argoscoder <notifications@github.com> wrote:

[2019-07-13 05:17] rohbotics commented on #183
I made a PR that should solve this in the correct way #185.

Thanks for your bug report!

[2019-07-13 20:27] #181 closed, assigned to rohbotics

[2019-07-14 12:00] ArghyaChatterjee opened #187 "Fiducial_slam not building from catkin_make command"
I tried several times but it seems that this file is never going to build from source. What should I do now?
Note that I also tried with the hector slum model and it's unable to compile it as well. Looks like slam is never going to run in my raspberry pi. I am using ubiquity robotics latest version of Ubuntu Mate (16.04) as my OS of raspberry pi where ros kinetic is preinstalled.
![Problem](https:

[2019-07-14 12:12] jim-v commented on #187
If you are building on a Raspberry Pi, it could be running out of memory.  I usually do `catkin_make -j1` to just run one command at a time.

[2019-07-14 17:02] ArghyaChatterjee commented on #187
If I try to do it this way, catkin_make --pkg fiducial_slam, then it hangs exactly in the same file which is shown in the screenshot (fiducial_slam.cpp.o). I can't even move the cursor. I had to unplug the battery cable and make pi boot again after 10-15 minutes of pause.

[2019-07-14 18:09] jim-v commented on #187
It will be compiling two files at the same time unless you specify `-j1` and will run out of memory.

[2019-07-14 18:55] ArghyaChatterjee commented on #187
Thanks jim. You helped me save a lot of time. It worked. I am closing this issue here.

[2019-07-14 18:55] #187 closed, assigned to nobody

[2019-07-16 12:42] ArghyaChatterjee opened #188 "No image showing up in rviz"
I calibrated my camera using this tutorial.
https://github.com/UbiquityRobotics/raspicam_node
I built the package from source following this tutorial.
https://github.com/UbiquityRobotics/fiducials
I tried to follow this tutorial from ROS official website.
http://wiki.ros.org/fiducials
First 2 command lines perform good and the last one also performs fine but when rviz shows up, no image is found.

[2019-07-17 14:46] rohbotics commented on #188
Hi, Thanks for reporting your issue.

Can you first make sure that you are getting camera data, by changing the Image topic to `/raspicam_node/image`?

[2019-07-20 14:39] #183 closed, assigned to rohbotics

[2019-07-23 12:47] vishalsleotechsa commented on #116
hi all,
got Oscillation in robot pose when using fiducial slam.
I have to use the fiducial slam for robot localization using fiducial markers, I have to download the fiducial package from this link https://github.com/UbiquityRobotics/fiducials.git, we use the ROS distribution which is indigo and Kinect camera. And the markers on the wall and the camera is front-facing like human structure. When we

[2019-07-23 13:27] vishalsleotechsa opened #189 "getting oscilated fiducial_pose"

[2019-07-23 14:01] vishalsleotechsa opened #190 "In fiducial slam package got Oscillation in fiducial_pose."
I am using the UbiquityRobotics/fiducials package, I have followed all the step mention in readme.md file, after using this package I am getting an error as the fiducial_pose(robot pose in map frame) is oscillating continuously while robot and markers are in a stationary condition. so can anyone will give the solution for that!

I am using the following specifications,

ROS distribution: indigo
ca

[2019-07-23 16:40] jim-v commented on #190
There are usually some small oscillations in the robot pose from fiducial_slam.  Can you record a bag file
using the command `rosbag record -a` and send it to us so we can look into it and see if there is something else going on here.

[2019-07-24 03:23] jim-v commented on #189
Duplicate of #190

[2019-07-24 03:23] #189 closed, assigned to nobody

[2019-07-24 08:46] vishalsleotechsa commented on #190
thank you so much
please find the attachments and data.
here is the fiducial pose data
header:
  seq: 229
  stamp:
    secs: 1563952902
    nsecs: 811744871
  frame_id: map
pose:
  pose:
    position:
      **x: 0.827669586504
      y: 0.195369691712**
      z: 0.0
    orientation:
      x: 0.0
      y: 0.0
      z: -0.991645769297
      w: 0.128990961834
  covariance: [0.01, 0.0, 0.0, 0.0, 0.0, 0

[2019-07-24 08:48] vishalsleotechsa commented on #190
**<node pkg="tf" type="static_transform_publisher" name="base_link_to_raspi_camera_frame" args="0.2300 -0.094 0.32 -1.57079633 0 -1.57079633  base_link raspi_camera_frame 100"/>**

[2019-07-24 16:05] jim-v commented on #190
Hi,

I haven't had a chance to look at the bag file yet, but one potential problem is that two transforms from base_link to the camera are being published.   Instead of the static transform publisher, the way to change from upward to forward camera is to edit `/etc/ubiquity/robot.yaml` and make sure you have

[code]

[2019-07-25 06:22] vishalsleotechsa commented on #190
hi,

I couldn't get the  " /etc/ubiquity/robot.yaml " file, I have download the fiducial package using this link
"https://github.com/UbiquityRobotics/fiducials.git'

for ros indigo distribution and compile and build the "fiducials-indigo-devel"
package.

[2019-07-25 07:00] jim-v commented on #190
My mistake, I thought that you may have been using the Ubiquity Robotics Raspberry Pi image.
I will take a look at the bag file at the weekend.

[2019-07-28 07:28] jim-v commented on #190
I looked at the bag file you sent and from the message types, it looks like you are running code from the Indigo branch.  I also just noticed that you mentioned it in your previous message.  That code hasn't been maintained for several years and we are going to remove it eventually, since Indigo support ended in April.  The kinetic-devel branch has many improvements (including a rewrite of the Pyt

[2019-08-02 08:59] vishalsleotechsa commented on #190
sorry for the delay,
we are using the ROS-Indigo version.
we are trying to run this package on the kinetic-devel.
thank you.

[2019-08-02 12:27] canberkgurel opened #191 "Is there a minimum detection distance?"
I noticed that the aruco markers are no longer detected when the camera is any closer than ~40 cm. Is this a known feature/issue? Note that when the camera is within the 10-40 cm range, the entire marker and the surrounding white border is still visible. Is there a configuration parameter that I can change? What exactly is causing this constraint?

I know that the minimum white border recommended

[2019-08-04 07:05] jim-v commented on #191
Hi,

I suspect the `maxMarkerPerimeterRate` parameter is the one you should change.
The parameters `aruco_detect` node uses can be dynamically configured.   You can do this by running `rosrun rqt_reconfigure rqt_reconfigure` while the node is running to find optimal values.  These values can then be set from the launch file.

Jim

[2019-08-16 14:08] m1baldwin opened #192 "Intermittent Tag Detection under Seemingly Good Conditions Outdoors"
I have been using the aruco_detect package with a realsense r200 camera with a uav to provide a relative pose estimate between the two to aid navigation. In our lab, with the exact same mounting of the camera (and a smaller tag) we are seeing stable detection of the tag and generation of the pose estimate. However, when we move outdoors and test (with a larger tag), we see intermittent detection,

[2019-08-16 17:36] dj4park commented on #95
Could someone elaborate on the steps that I need to take for me to detect a single aruco marker from two different cameras?

Currently, we are placing a marker on a robot and localizing it through the cameras.

[2019-08-20 07:45] YuHengKit opened #193 "Aruco_detect detects multiple tags"
Is it possible to use Aruco_detect to detect multiples tags with different IDs in a single launch file?
Is it possible also to detect two tags and obtain the center between the tags?

Thank you.

[2019-08-20 20:04] canberkgurel commented on #192
@jim2v Any thoughts on this? Thanks!

[2019-08-21 02:43] jim-v commented on #192
There are some parameters in [aruco_detect](http://wiki.ros.org/aruco_detect?distro=melodicl) that limit the size of markers that will be detected relative to the size of the image, for example `maxMarkerPerimeterRate`.  My suggestion is to use dynamic reconfigure to find settings that work and then apply them through the launch file.

[2019-08-21 02:45] jim-v commented on #193
Hi, yes `aruco_detect` will detect any number of tags, as long as they are in the same dictionary.
It will publish the id of tags found and their vertices in image coordinates as well as the transforms between them and the camera.

[2019-08-21 13:05] vishalsleotechsa commented on #190
I apologize for the delay,
I have run the fiducial slam node on ROS kinetic distribution.
in that section still, the robot position gets oscillating for the static position of robot and marker, when markers are located on the wall.
I am using the following specifications,

ROS distribution: kinetic
camera: Kinect v2
camera is calibrated
camera front-facing
marker on the wall

video of robot postio

[2019-08-22 05:23] YuHengKit commented on #193
meaning it is not possible to detect different dictionary in a single launch file right?

[2019-08-25 03:33] jim-v commented on #193
Yes, there can only be one dictionary.

[2019-08-25 03:35] YuHengKit commented on #193
Alright. Thank you.

[2019-08-25 03:35] #193 closed, assigned to nobody

[2019-08-25 03:39] jim-v commented on #190
Some jitter in the order of 1-2 cm is expected, but what you have indicates something is wrong.   Things to check are

- The camera is well calibrated
- The size of the marker is as specified in the launch file
- The markers are flat
- The transform for the base -> camera is correct
- Odometry is being correctly published, or not used by fiducial_slam

If you can create another bag file of `/fiduc

[2019-08-26 06:52] vishalsleotechsa commented on #190
thank you for the response,
we check all topics as you mention and create the bag file and inform to you.

[2019-08-29 09:06] vishalsleotechsa commented on #190
hello,

I have check all the aspects as you mention,
1. camera calibration,
  we do the camera calibration, we use the Kinect camera use the following link for the camera  calibration
" https://github.com/code-iai/iai_kinect2/tree/master/kinect2_calibration "
2. size of the marker
    yes, we specified the size of the marker in the launch file.
3. The markers are flat
     yes, markers are flat.
4

[2019-09-01 09:11] Wanja1204 commented on #188
hello, i have the same problem, when I changing the image topic to image raw for my webcam i get a picture but no marker recognition

[2019-09-01 21:03] jim-v commented on #188
Hi,

You should see the camera image without annotations on the topic `/raspicam_node/image` and with them on `/raspicam_node/image`, assuming the `aruco_detect` node is running.

 If this is not the case, please let us know and we will figure out why.

[2019-09-26 15:28] Wanja1204 opened #194 "using package with a robot"
Hello, I wanted to use the aruco detector for a robot with intel realsense camera, which already publishes the following topics: /loomo/realsense/rgb/camera_info
/loomo/realsense/rgb/compressed
i'd like to subscribe this one with my detector, but i'm new and i'm probably doing something wrong, maybe you can tell me, under which line change for subscribing known topics must be done

[2019-10-28 00:40] ashwinv96 opened #196 "Aruco detect not publishing anything"
Hi, I followed the calibration steps and finally hit 'commit' to save the changes on my raspicam v2. My camera is publishing values and I can read them back using rostopic. The camera also works when using rviz.

However, I can not get any detection of aruco markers even when I am running both the 'aruco_detect' and 'fiducial_slam' nodes. I used the below commands.
roslaunch aruco_detect aruco_det

[2019-10-28 01:19] rohbotics commented on #196
When you launch aruco_detect, you need to specify the camera name `roslaunch aruco_detect aruco_detect camera:=/raspicam_node` and `roslaunch fiducial_slam fiducial_slam camera:=/raspicam_node`.

This should do what you want :)

Let me know if that works, or if u run into anymore issues.

[2019-10-28 01:39] ashwinv96 commented on #196
@rohbotics that fixed my issue! thank you!

FYI, I got it to work after adding '.launch' to the second instance of the node name in both the lines you posted.
So:
roslaunch aruco_detect aruco_detect.launch camera:=/raspicam_node
roslaunch fiducial_slam fiducial_slam.launch camera:=/raspicam_node

[2019-10-28 01:39] #196 closed, assigned to nobody

[2019-10-28 01:48] rohbotics commented on #196
Awesome, thanks for catching the typo too.

Good luck with your project :+1:

Consider tipping us a couple dollars to support the ongoing development of all our opensource code. There is a donation button on our download page https://downloads.ubiquityrobotics.com/pi.html, or you could simply PayPal to tips@ubiqityrobotics.com. Thanks!

[2019-11-19 06:27] rcywongaa opened #197 "fiducial_slam not updating map.txt upon observing new markers"
I'm not exactly sure if I'm using `fiducial_slam` correctly or if I understand completely what it's supposed to do.

I always assumed that on start / with an empty `map.txt`, `fiducial_slam` takes the closest marker position and saves it in `map.txt`.  Upon seeing other markers together with this closest marker, it uses the first marker position to build the transform between the 2 markers and app

[2019-11-24 00:44] ashwinv96 opened #198 "How to navigate?"
Hi,
Once I receive fiducial information, how can I use the topics of aruco_detect and fiducial_slam to navigate my robot specifically using MAVROS? Thanks!

[2019-11-28 02:09] ashwinv96 commented on #198
Hi @rohbotics can you provide any support with this?  Been stuck here for a while. I thank you in advance.

[2019-11-28 02:31] ashwinv96 commented on #198
When I try to run the fiducial_follow (follow.py) example, I get this:

ConnectivityException: Could not find a connection between 'base_link' and 'fid103' because they are not part of the same tree.Tf has two or more unconnected trees.
Could not get tf for fid103
Errors: forward 0.000000 lateral 0.000000 angular 0.000000
Speeds: linear 0.000000 angular 0.000000
zero True True

This is after chang

[2019-12-05 02:28] rcywongaa opened #199 "fiducial_slam ignores fiducial_id 0"
It seems fiducial markers with id 0 are actively ignored in the mapping process.  No blue line is drawn between existing markers and marker id 0, and /fiducial_map does not publish fiducial_id: 0

Replacing marker 0 with any other marker fixes the issue.

[2019-12-05 05:25] rcywongaa commented on #197
Realized this is due to #199

[2019-12-05 05:25] #197 closed, assigned to nobody

[2019-12-05 06:38] jim-v commented on #199
Fiducial id 0 had a special meaning in the past.   In the `kinetic-devel` branch on github this meaning has been removed, so if you build from source it should work as expected.

[2019-12-05 06:48] rcywongaa commented on #199
Thanks for the clarification!

[2019-12-05 06:48] #199 closed, assigned to nobody

[2019-12-13 05:07] rajk97 commented on #149
I'm a beginner and having the same issue. Could you please tell me how do you change the aruco_detect.cpp  file? Thanks!

[2019-12-13 12:50] Tuebel commented on #149
Simply replace `#if OPENCV_MINOR_VERSION==2` with `#define CV_MINOR_VERSION 2`.
But since this code is merged, this bug should not occur if you pull the latest kinetic-devel source.

[2019-12-13 15:16] rohbotics commented on #149
@rajk97 How are you trying to build the code? Where did you pull it from.

If you are running from the latest branch, you shouldn't be having this problem, as the fix was merged in.

[2019-12-16 11:58] artofnothingness opened #200 "Is a 1D variance in updatePose method is heuristic for kalman filter?"
Hello, could you please, clarify about s1-s3 variables in variance formation? Is it heuristic?

[2019-12-16 12:24] artofnothingness opened #201 "What formula is used in normalizeDavid method for getting new Variance?"
Hi. How and from where you get formula for variance:
double newVar = pow( 1.0 / (prob_at_newMean * sqrt(2.0 * M_PI)), 2 );

[2020-01-15 00:08] danem opened #203 "Hard Coded Image Topic"
Unless I'm mistaken, the image topic subscribed to in aruco_detect is hard coded to "camera" set [here](https://github.com/UbiquityRobotics/fiducials/blob/kinetic-devel/aruco_detect/src/aruco_detect.cpp#L568). Shouldn't this be exposed as a launch file parameter?

[2020-01-15 02:24] rohbotics commented on #203
You can use a remap to change the topic like we do in the launch file: https://github.com/UbiquityRobotics/fiducials/blob/kinetic-devel/aruco_detect/launch/aruco_detect.launch#L22 Because remapping is an option, we decided not to provide a parameter as well.

[2020-01-15 18:03] danem commented on #203
Ok, I was hoping for a way to simply do it via roslaunch (I'm not aware of a way to perform remapping via the roslaunch CLI). This works though.

Thanks

[2020-01-15 18:03] #203 closed, assigned to nobody

[2020-01-20 02:44] rcywongaa opened #204 "Incorrect pose is published if odomFrame baseFrame lookup fails"
I'm referring to the following snippet of code from [map.cpp](https://github.com/UbiquityRobotics/fiducials/blob/745ae67ab3f703013a0e1562c85bd3dd819ef304/fiducial_slam/src/map.cpp#L352)
[code]
If `!odomFrame.empty()` and the `lookupTransform` fails, the resultant `poseTf` that gets published is a Frankenstein TF where it claims to be from map to odom but in fact it is from map to base.

I believe

[2020-01-20 03:18] jim-v commented on #204
Hi Rufus,

Thanks for the feedback.    I agree that it would be better to not publish anything in the event that the Tf lookup fails.

However, I don't understand your comment about the timeout.  What we are doing is looking up the transform at the time contained in `basePose`

[2020-01-20 03:45] jim-v commented on #204
Actually, the Tf published is not going to be Frankenstien in either case. `outFrame` is intitialized to `baseFrame` and only changed to `odomFrame` if the lookup is successful.

[2020-01-20 03:49] rcywongaa commented on #204
Hi Jim,

It's probably an isolated case which can be ignored (maybe my computer just isn't strong enough to handle all the TF publishing).  I notice that the `lookupTransform` fails almost 30% of the time, adding a short timeout of 0.5s to the lookup solved it for me.

`outFrame` is set to `odomFrame` immediately after the `if (!odomFrame.empty())`.  In fact, it is set again when the lookup succee

[2020-01-20 05:21] jim-v commented on #204
Hi Rufus,

Thanks for the suggestions

[2020-01-30 10:47] lbv-h opened #207 "fid0"
Hi, I want to use fiducials for pose estimation of a robot. However, I am getting the wrong results.

In screenshots below true robot's position is depicted by the blue arrow and the estimated robot's position is depicted by the red arrow. I am using a predefined fiducial map that contains fiducials with ids from 1 to 7. But I have noticed there is a fiducial with id 0 (fid0) that is moving random

[2020-02-09 16:53] Hackerman342 opened #208 "cv_bridge exception: [8UC3] is not a color format. but [bgr8] is. The conversion does not make sense"
Hi,

I am changing hardware from a logitech webcam to an Arducam (https://github.com/ArduCAM/ArduCAM_USB_Camera_Shield). When running aruco_detect with the Arducam, I get this error:

 cv_bridge exception: [8UC3] is not a color format. but [bgr8] is. The conversion does not make sense.

Any suggestions on how to adjust aruco_detect or what node I could add to receive/convert this [8UC3] image type

[2020-02-09 17:13] Hackerman342 commented on #208
I found a way to change the image being published to bgr8. Please delete this issue.
Thanks.

[2020-02-09 20:27] rohbotics commented on #208
Hey @Hackerman342,

Glad that you resolved your issue. Instead of deleting this post, it would be great if you could post your solution in case someone stumbles across this in the future.

Rohan

[2020-02-10 11:00] Hackerman342 commented on #208
Of course. In order to publish the image as bgr8, I changed a line in the image publisher node (python) from:
            img_msg = bridge.cv2_to_imgmsg(image)
to:
            img_msg = bridge.cv2_to_imgmsg(image, "bgr8")

[2020-02-10 16:47] rohbotics commented on #191
Closing this due to age and lack of response.

@canberkgurel  Feel free to re-open if you still have questions.

[2020-02-10 16:47] #191 closed, assigned to nobody

[2020-02-10 19:27] rohbotics commented on #204
Closing because the PR was merged.

[2020-02-10 19:27] #204 closed, assigned to nobody

[2020-02-11 10:57] Hackerman342 commented on #208
Hi Rohan,

Sorry, I closed this issue too early. Now aruco_detect receives the stream from the Arducam, processes it, and returns a /fiducial_images video stream, but does not detect any markers when they are in the display. The aruco_detect configuration is the same as when it worked before with the logitech webcam, besides image topic name changes in the launch file. I have played around a bit a

[2020-02-13 15:35] Hackerman342 commented on #208
Hi again,

I had thought the issue may be that the whites in the image from this new camera were too offwhite for aruco_detect. So I took the attached image comparing the new arducam raw_image (top) to the fiducial images output using the old logitech webcam (bottom).

Once I took the picture I realized the issue -- the horizontal flip I had added for displaying the new camera's image in RVIZ was

[2020-02-13 15:57] #208 closed, assigned to nobody

[2020-02-16 16:33] rohbotics commented on #208
Glad you solved the issue Kyle!

The non-mirror symmetry is quite useful in rooms that have actual mirrors in them :), but is more annoying when you don't realize that your camera is mirrored.

Good luck on your project.

[2020-02-26 12:30] davecrawley opened #209 "Improved 3-D navigation"

[2020-02-26 13:42] davecrawley commented on #209
It seems that we need to do an improved 3-D navigation that utilizes a few assumptions.
a) That the floor is mostly flat and horizontal
b) That the robot is on the floor
       (1&2 should be switchable assumptions)
c) That the distance between the corners of the fiducials is known
d) That where 3 or more fiducials appear to be on the same plane within the measurement accuracy they are likely on a

[2020-03-03 07:01] sebymv opened #210 "What is the difference between image error and object error in fiducial transforms?"
I am using fiducial transforms for finding the transformation between camera and object for camera calibration. I published the topic  _/fiducial_transforms_ which publishes image error and object error along with rotation and translation. I would like to know what exactly is image error and object error

`fiducial_id: 100
    transform:
      translation:
        x: 0.138788760176
        y: -0.0

[2020-03-12 18:37] ghost opened #211 "Stuck at Aruco Detection Ready ,what to do next to start live aruco marker detection from internal camera?"
yugal@yugal-ThinkPad-X230:~/ws$ roslaunch aruco_detect aruco_detect.launch
... logging to /home/yugal/.ros/log/2c4bf6e0-6488-11ea-9589-843a4b609e78/roslaunch-yugal-ThinkPad-X230-25953.log
Checking log directory for disk usage. This may take awhile.
Press Ctrl-C to interrupt
Done checking log file disk usage. Usage is <1GB.

started roslaunch server http://yugal-ThinkPad-X230:45601/

SUMMARY
======

[2020-03-12 18:39] ghost commented on #211
I want to use my internal webcam for aruco marker detection

[2020-03-25 09:27] rcywongaa opened #212 "Slam should not segfault when no fiducials are visible when initializing map"
Offending line: https://github.com/UbiquityRobotics/fiducials/blob/18672422d6a91299c4873e5be7824a7014508986/fiducial_slam/src/map.cpp#L446

Suggest that the system continue to attempt to initialize (by simply adding a `return;` after the line)

[2020-03-25 13:55] MoscowskyAnton opened #213 "How can I interpretate object_error field as error of distance measurment to marker?"
Hello!
I wonder how can I use object_error parameter as accuracy of distance to maker.
I run my robot in Gazebo, where it moved many various directions and obtained data.
![Screenshot_20200325_163652](https://user-images.githubusercontent.com/49156277/77543294-89040000-6eb8-11ea-8540-cd4514a53f0d.png)
![Screenshot_20200325_163632](https://user-images.githubusercontent.com/49156277/77543260-7f7a980

[2020-03-25 13:59] MoscowskyAnton commented on #210
I also wonder that, have some ideas here **#213**
From source code I figure out that image_error is reprojection error in pixel, and object is the same, but converted to meters, based on aruco side length.

[2020-04-14 11:27] JanezCim opened #215 "Is there any way to start fiducial slam without any prior map information every time."
I am wondering if there is any way to launch fiducial slam without any prior map of markers every time, so to speak call service /fiducial_slam/clear_map on every launch.

I've tried calling service from launch file with:
<node pkg="rosservice" type="rosservice" name="clear_fiducial_map" args="call --wait /fiducial_slam/clear_map" />
But somehow it does not work.

[2020-04-14 17:13] rohbotics commented on #215
We don't have anything that is directly intended for this, but specifying an empty file for the `initial_map_file` parameter would have the effect you want.

[2020-04-14 17:16] rohbotics commented on #212
Hey @rcywongaa,

Sorry for the delay. This sounds like a reasonable change. Can you make a PR so that we can incorporate it?

Rohan

[2020-04-14 17:42] rohbotics commented on #213
Hey @MoscowskyAnton
Sorry for the late response to this.

The object error is a heuristic estimate of the error in the marker position based on the reprojection error. The reprojection error is calculated by seeing how well the estimated marker position aligns with the measured vertices of the camera. Obviously this fails to completely account for all possible errors in the system, so it will like

[2020-04-16 10:44] JanezCim commented on #215
Yes, that does seem to be working, thank you!

[2020-04-17 13:48] JanezCim opened #216 "Fiducial slam does not map or estimate tf on markers with larger id then 107"
![image](https://user-images.githubusercontent.com/8426792/79575833-ab0d2e80-80c2-11ea-9a0f-05ce7ab83427.png)

Is there a parameter that I am missing where I could indicate that I want it to do slam on other markers then just 100-107?

[2020-04-17 13:55] JanezCim commented on #207
I also see fid0 randomly appearing, but it does not seem to be bothering the fiducial slam

[2020-04-17 17:02] rohbotics commented on #216
Hi @JanezCim

Based on the image, it looks like aruco detect isn't even detecting those markers. What launch file are you using? Did you print all the markers with the script in aruco detect?

[2020-04-17 23:54] mjstn commented on #216
Adding two cents.   Be sure your launch files do not specify any fiducials to ignore which is unlikely but look for at launch startup the word 'ignore' and also if fiducials are in the ignoreIds list a ROS log should show truely ignored ids.   If they don't show up in runtime ROS_INFO messages saying  'Ignoring id 123' then the issue may be they are not even being detected as Rohan is trying to di

[2020-04-18 09:46] JanezCim commented on #216
I see what happened, because of the shadow on the aruco marker (seen in the camera view), the two markers 107 and 108 could not have been detected together in one frame. And because fiducial slam actually needs to see two markers at the same time to map the new one, it did not map.

I am working with a BAG file, and that is why I always got the same outcome. Nevermind, sorry for the confusion. Tha

[2020-04-18 09:46] #216 closed, assigned to nobody

[2020-04-20 04:25] rohbotics opened #217 "Investigate SolvePNP vs SolvePNPRansac"
Looking at the aruco_detect code, it is using SolvePNP to go from the image points to the object points. In the OpenCV docs there is also a function called SolvePNPRansac which claims to more more resistant to outliers. Would this be a good idea to use? Or would it be useless as we only have 4 points anyway?

https://docs.opencv.org/3.2.0/d9/d0c/group__calib3d.html#ga50620f0e26e02caa2e9adc07b5fbf2

[2020-04-20 06:28] jim-v commented on #217
My intuition is that a RANSAC approach would not be useful given we only have four points.  If only three of them match well, it is not a good pose estimate.

[2020-04-20 19:23] rohbotics commented on #217
Yes that makes sense. If we revive multi-fiducial with a read-only map it might be useful to use the ransac mode.

[2020-04-20 19:23] #217 closed, assigned to nobody

[2020-04-30 01:04] rohbotics commented on #215
Closing this because we found a workaround solution.

[2020-04-30 01:04] #215 closed, assigned to nobody

[2020-04-30 01:06] rohbotics commented on #213
Hey @MoscowskyAnton, I am closing this for now. Feel free to re-open if you have any further questions.

[2020-04-30 01:06] #213 closed, assigned to nobody

[2020-05-12 13:10] RegGrobler opened #218 "Map.txt not updating - fiducial SLAM"
Good day

I am busy with a px4/gazebo/ros project where I want to use a downward facing camera on a multirotor uav for a fiducial slam application.

I assume that the uav will takeoff from an aruco marker. My map.txt thus has this fiducial saved at xyz location 0,0,0.
I then will have another marker placed arbitrarily in the environment which also needs to be mapped using fiducial slam.

The probl

[2020-05-12 16:21] rohbotics commented on #218
Your assumption is correct, the map making system requires that any new fiducial is visible at the same time as a known fiducials.

This is by design, the absolute localization provided by onboard sensors can drift over time, so trying to use it for making a map is difficult, and the map will be quite inaccurate. It is theorhetically possible to add in the external data with a proper error model,

[2020-05-13 08:19] RegGrobler commented on #218
Thank you for the reply. Makes good sense.

[2020-05-18 13:47] RegGrobler commented on #218
Good day Rohan

I saw on ros answers that you mentioned something about using robot localisation with this package. I want to also use robot localization but for a uav application. I am having some issues and perhaps since you have already gone through the process you might be able to spot an issue with my setup. If you have 5 minutes to spare I would really appreciate if you have a quick look at

[2020-06-05 08:25] nkise commented on #211
Did you fix it?

[2020-06-09 10:45] RegGrobler opened #219 "Fiducial_slam not subscribing to /fiducial_transform"
Good day

I am using robot upstart to run my launch file when my jetson nano boots up. The launch file runs correctly when run from the terminal using roslaunch but not when starting the service created by robot_upstart.

Both aruco detect and fiducial_slam nodes are being launched but fiducial_slam is unable to subscribe to the fiducial_transform topic. This appears to be my only issue. Again thi

[2020-06-10 14:57] JanezCim opened #220 "fiducial_slam parameter covariance_diagonal doesn't seem to work properly"
ROS: Kinetic
OS: Ubuntu 16.04

In a launch file I am launching the fiducial_slam with:

[code]
Notice that covariance_diagonal parameter is changed from all 0.0 to all 0.1.

When i launch fiducial_slam and direct my camera toward a marker and listen on a topic /fiducial_pose, I see this:

[code]

Notice that covariance diagonal in the topic is always around 0.003 instead of 0.1 like it was set wit

[2020-06-11 04:11] rohbotics commented on #220
@JanezCim Looks like you found a bug.

Not sure why it happens, but its a bug.

[2020-06-11 04:27] rohbotics commented on #220
Ok it looks like the parameter is being interpreted by roslaunch as a string and not an array, so when the node queries for an array, it gets an error. I think this can be solved by adding `subst_value="True"` to the param line in fiducial_slam.

[2020-06-11 05:27] rohbotics commented on #219
Hi @RegGrobler,

Interesting that this only happens under robot_upstart. What is the output of `rostopic info /fiducial_transform`?

It doesn't look like fiducial slam is running, can you verify it has the permissions it needs to read and write to ~/.ros/slam/map.txt for the user that it is running as?

[2020-06-11 21:42] #220 closed, assigned to rohbotics

[2020-06-12 14:30] RegGrobler commented on #219
Hi @rohbotics

I believe you are correct. This is most likely a permission issue as robot_upstart runs the launch file as an unprivileged user.

I ran the command "chmod ugo+rwx map.txt". and can confirm that the permissions were set accordingly. This should give all users read write and execute privileges. This however did not work and im still stuck. Can you think of any other file permissions t

[2020-06-12 14:49] RegGrobler commented on #219
Does fiducial_slam require any special group membership?
Such as: adm, dialout, cdrom, sudo, audio, dip, video, plugdev, i2c, lpadmin, gdm, sambashare, weston-launch, gpio.

Im asking because when robot_upstart launches the launch file, it loses all group memberships of the user it is launched as. Which in my case is the default user.
Aruco_detect launches perfectly and I cannot think of any group

[2020-06-12 15:07] RegGrobler commented on #219
Output of rostopic info:

Type: fiducial_msgs/FiducialTransformArray

Publishers:
 * /aruco_detect (http://Hanabi-Nano:34555/)

Subscribers: None

[2020-06-12 15:44] rohbotics commented on #219
I don't think fiducial_slam needs any of those groups, but it needs to be able to read write delete and create files in `$HOME/.ros/slam/map.txt`. If you are running as another user, make sure that HOME is set and somewhere with those permissions. Alternatively, you can specify a different map file location that is more convenient using the `map_file` rosparam.

[2020-06-25 20:05] beingkartik opened #222 "Incorrect Info in ROS Wiki"
In the  ROS wiki for aruco_detect (http://wiki.ros.org/aruco_detect), it says it subscribes to /camera of type sensor_msgs/Image. Actually on running the code I see it actually subscribes to /camera/compressed which is actually being remapped from /camera/image/compressed as per the launch file. It should be a simple fix. I would like to correct this, however I can't find the source for the wiki p

[2020-06-26 22:52] rohbotics commented on #222
Hi @beingkartik if you make a ROS wiki account, you should be able to edit the page directly.

[2020-07-10 02:04] rohbotics commented on #219
Closing this because of lack of response. If you are still have trouble, feel free to re-open.

[2020-07-10 02:04] #219 closed, assigned to nobody

[2020-07-13 21:54] #222 closed, assigned to nobody

[2020-07-31 15:37] ivan140 opened #223 "Fiducial pose jumps when in image center"
Hi,

I'm using your library for navigation with on the floor attached markers. It works really well, except for one case:
When the fiducial is in the image center it tends to jump and rotate around x-axis for ~180°.
I'm using dictionary 16 with a 0.048 fiducial length. Here are my launch files for both, _aruco_detect_ and _fiducial_slam_ and the map:

[aruco_detect.txt](https://github.com/Ubiquity

[2020-08-03 05:00] rohbotics commented on #223
@ivan140 That is very weird, we haven't seen that behavior before.

Could you upload a bag file (with the image data) so that we could look a little closer?

Thanks for reporting!

[2020-08-03 07:26] ivan140 commented on #223
@rohbotics yes sure, here's a bagfile:
https://drive.google.com/file/d/1h7ZE1oXTL1njr9Sz3Vtkv9TU-OYGVoln/view?usp=sharing

The included topics are TF, pylon-camera-node images and the fiducials. For some reasons the marker is published tilted, with a rotation around cameras X axis. Maybe this is the reason for the jumps.

[2020-08-03 08:31] mjstn commented on #223
Hello ivan140.    We have only published a 'general solution' for ceiling nav so far and there was discovered an issue very similar to what you report in some lab tests about 6 months back as well as in some testing.  I cannot say it was your exact issue but it sounds in general very similar to what you are reporting.

At that time it was decided to look into ways to minimize the sort of effect yo

[2020-08-03 08:50] ivan140 commented on #223
Hello @mjstn ,
Thank you for the fast reply.
To 1: the fiducials are on a flat floor and are detected through a camera located at the bottom of the robot.

To 2: the robot is driving on a flat surface so the distance to the marker should be the same within +-2mm.

In your code you are using OpenCV's solvePnP function to estimate the 3D pose of the marker. My guess would be that for a specific 4 po

[2020-08-03 09:17] mjstn commented on #223
Hello ivan140,
This is a very insightful and great reply.    We have used the fiducials on ceiling and also very soon will be using them on floor but not directly under the robot, always at an angle.

What you are discussing is actually an extremely common fiducial recognition situation  (AKA Amazon most likely).
We have not approached or attempted a solution for that case but your very comment in

[2020-08-03 19:00] rohbotics commented on #223
@ivan140 a quick question: are you using aruco_detect only, or fiducial_slam as well?

I am going to take a look at your bag file, this might be something involving angle->quaternion conversion. Thanks for sending the bag file btw.

[2020-08-04 07:55] ivan140 commented on #223
@rohbotics I'm using the whole fiducials package. The only difference is, that I set the rosparam for read_only_map to true, so that the predefined values in the map do not change. This way I am able to detect the camera (robot) pose even with a single fiducial.

[2020-08-06 14:17] yulan0215 commented on #188
Did you solve this problem? How did you solve this problem? Thank you!

[2020-08-15 21:16] pitosalas opened #224 "Melodic?"
Will `sudo apt-get install ros-kinetic-fiducials` work correctly on Melodic? Does anyone know?

[2020-08-15 22:50] MoffKalast commented on #224
I think it's unlikely since there will be a package version conflict if I recall right, but it may work if you clone and compile it yourself.

[2020-08-17 09:21] Canbjerg commented on #211
You need a camera image publisher topic which publishes in image_compressed format. If you are using a camera which has a already released ros wrapper like intel realsense etc. you can just link the topics and use the program freely, but if you are using a webcam you need to create your own publisher,  there are examples for it online

[2020-08-18 13:13] FabianSchurig opened #225 "Separate fiducial_msgs and ROS noetic"
Is there already a plan to pull the messages into a separate repo and make them available as binary for ros noetic?

[2020-08-24 06:55] Canbjerg opened #226 "CPU usage too high"
Hi,

I'm using aruco_detect package but it works at 30hz rate and consumes CPU more than %100, I need it to be %20,25 at most. I used ros::Rate and  rate.sleep() functionalities in main function and ran the program at 5hz and i got %60 CPU usage.Then i noticed the ciritical work is being done at imageCallback function so i did put rate to that function and now i get %40 CPU usage but that's still

[2020-08-24 08:53] MoffKalast commented on #226
Well the way it works is that it should match the frequency of the data being sent, which would be the framerate of the camera. I think you should be able to reduce it with the throttle functionality of the topic_tools package. I'm not sure if reducing the rate of the main function is advisable though.

There is something else to consider though, with 4 cores a raspberry pi technically has 400% ma

[2020-08-24 11:16] Canbjerg commented on #226
Actually i don't want to manipulate the topics, the critic line in the code is:

aruco::detectMarkers(cv_ptr->image, dictionary, corners, ids, detectorParams);

I think i just need to put a if(a timer returns boolean every determined period) before it. Do you think this will work and is there a functionality that does this ?

[2020-08-24 11:19] MoffKalast commented on #226
You could just as easily create a new topic with a lower frequency and have aruco read from that one, but I suppose it does add overhead. I suppose the easiest way would be to just add a boolean that gets toggled every message and only process it when it's set to true in the callback function (and return if false), which would reduce the frequency to 15hz. Change it to an int that gets incremented

[2020-08-24 13:07] Canbjerg commented on #226
There is already a system call which enables and disables the reading process, i can shut it down and cpu usage reduces to %2, problem is lowering the usage when it's on. So i need a timer which sets a boolean variable as true at for ex every 0,2 seconds other times it will be false. Then i will simply do

if(boolean)
aruco::detectMarkers(cv_ptr->image, dictionary, corners, ids, detectorParams);
S

[2020-08-26 06:25] Canbjerg commented on #226
I solved the issue by ros::Timer. I generated a dynamic programHz parameter and timer object gets it's duration as 1/programHz, so if i use 5hz duration to wait becomes 0,2 seconds and whenever it is triggered it makes a boolean variable true and ar code detection is done, after that boolean variable becomes false till other callback happens after 0,2 seconds. With these i got %20-30 CPU usage.

[2020-08-26 06:25] #226 closed, assigned to nobody

[2020-08-28 11:31] JanezCim commented on #223
I can reproduce the same error on the given bag file, but when i change the input image inside `aruco_detect.launch` to image_raw instead of already undistorted image_rect with

` <arg name="image" default="image_raw"/> `

I manage to get an output without the jumps. Since OpenCV's solvePnP inside `aruco_detect.cpp` accepts camera matrix and distortion coefficients it might be that it needs the ra

[2020-09-03 19:35] ivan140 commented on #223
@JanezCim on my robot I'm using a fisheye cam and I'm not sure, whether solvePnP can interpret it's camera and distortion matrices correctly. Also, but it's only my opinion, it seems that the rectify libraries on ROS already do the undistortion work, so having an other undistortion action could lead to weird results.

However, also as a reaction to @mjstn : I added a package named qr_detect to you

[2020-09-04 09:03] JanezCim commented on #223
@ivan140 Yes, I agree, I think undistorting an already undistorted image is not good. So then if you want to use the already undistorted image image_rect, then you also need to pass the proper camera intrinsics params (that are not for fisheye camera). I would try to do that by creating a new camera_info topic with params for the undistorted image and remapping the launch fille to it.

[2020-09-29 07:51] JanezCim commented on #223
@ivan140 Did you solve this then?

[2020-09-29 11:05] ivan140 commented on #223
@JanezCim kind of. As I wrote in the previous comment I added a package without usage of solvePnP and set the z distance to a constant value. If you say, that when using the image_raw topic the jumps dissapeared from my perspective the issue is solved.

[2020-09-29 13:21] JanezCim commented on #223
oh, alright, closing the issue then

[2020-09-29 13:21] #223 closed, assigned to JanezCim

[2020-09-29 15:44] dorkamotorka commented on #212
This is implemented.

[2020-09-29 15:44] #212 closed, assigned to nobody

[2020-09-29 15:46] #211 closed, assigned to nobody

[2020-09-29 15:47] #218 closed, assigned to nobody

[2020-10-05 00:07] madgrizzle opened #228 "Launch file issue with Aruco_Detect."
I'm running the melodic version with a kinect and have modified the launch per this topic:

https://github.com/UbiquityRobotics/fiducials/issues/136

_Edit: See comment below_

[2020-10-05 01:23] madgrizzle commented on #228
Running melodic and having modified the launch file to work with a kinect, aruco_detect gets stuck at the 'ready' line, suggesting it never received any images on the subscribed topic.

I dug into the source code and it looks like aruco_detect.cpp is subscribe to "camera" and not "camera/compressed" as listed in the launch file?  I'm still new to ROS so I might be mistaken, but I setup a topic_too

[2020-10-05 13:10] madgrizzle commented on #224
I installed it on melodic using

`sudo apt-get install ros-melodic-fiducials`

[2020-10-05 13:38] madgrizzle commented on #188
@yulan0215, not clear what problems you may be having, but you may want to check this issue and see if its because aruco_detect isn't subscribed to the camera properly.

https://github.com/UbiquityRobotics/fiducials/issues/228

[2020-10-08 20:11] JStech commented on #225
. . . and ROS2, as well

[2020-11-24 10:31] Rezenders opened #230 "How to calculate camera pose from 2 distinct fiducial transforms from same aruco marker"
Hello,

I am trying to calculate my camera position (CP1) using a aruco marker, for this I put my camera at a known position and I use aruco_detect to get its FiducialTransform (FT1), then I move my camera to an unknown position and once again I use aruco_detect to get the FiducialTransformation (FT2) to the same aruco marker. Now how can I calculate the new camera position (CP2)?

Can anyone link

[2020-11-24 10:48] Rezenders commented on #230
From http://wiki.ros.org/fiducials?distro=melodic I see that when the camera position is fixed and there are two aruco markes and one of them is at a known position the position of the second one can be calculated with:

T_map_fid2 = T_map_fid1 * T_cam_fid2 * T_fid1_cam

So, in the case i described in the issue description can I just replace T_map_fid1 for the camera position?

Something like:

CP

[2020-12-11 18:23] dorkamotorka opened #234 "Migration to vision_msgs"
New standard ROS vision_msgs were released, we should consider migrating from our custom messages.

[2020-12-14 11:06] JanezCim commented on #234
Since this will be necessary quite soon for another project in putting it in ready

[2020-12-15 14:02] #138 closed, assigned to dorkamotorka

[2021-01-06 10:27] JanezCim commented on #234
So i've used fiducials with new messages and they seem to be working quire alright (they are on branch lama). We should consider making a PR for this once its well tested :)

[2021-01-06 10:27] #234 closed, assigned to dorkamotorka

[2021-01-28 11:53] ulassbin commented on #230
If your aruco is fixed, and you know the initial position of the aruco you can uniquely detect your camera's position at each measurement as:
Since;
T_map_aruco = T_map_to_camera * T_camera_to_aruco
T_map_to_camera = T_map_aruco * T_camera_to_aruco^-1;

T_camera_to_aruco is basically fiducial transform, and you can invert it for T_camera_to_aruco. T_map_aruco is the known fixed position of aruco o

[2021-02-26 16:40] ajithcodesit opened #238 "Release aruco_detect for ROS noetic?"
Is it possible to release `aruco_detect` for ROS noetic?

[2021-02-26 17:46] MoffKalast commented on #238
As in an apt package? Should be possible. Does it compile on noetic right now? The marker gen script would probably need to be updated to python 3 I suppose.

In general we'll be going over all of our repositories and making noetic versions very soon.

[2021-02-26 17:51] ajithcodesit commented on #238
@MoffKalast  Yes as an apt package. I am able to compile the package in noetic but have not tested it. I was able to fix the marker generator script for python 3.

[2021-02-26 18:03] rohbotics commented on #238
@ajithcodesit If you could make a PR with any noetic required changes once you have tested that everything works that would be appreciated!

[2021-02-28 18:00] anfederman commented on #238
I noticed in aruco_gazebo there was a call to python2 in the !#
I think it made on the RPI4 both ARM32 and ARM64, also on my ubuntu 18,04/melodic laptop.

I just tried a catkin_make on AMD64 20.04 Noetic, make fails on aruco_detect.cpp on line 430,58. the error is about no matching function call to 'FiducialsNode::estimatePose ....
   ...
430 |

[2021-02-28 18:00] #238 closed, assigned to nobody

[2021-02-28 18:02] anfederman commented on #238
430  --- reprojectionerror);
                                       ^

[2021-02-28 18:10] anfederman commented on #238
This might be due to a cv2 version issue on line 222 it says candidate expects 6 arguments, 8 provided.

[2021-03-01 14:35] JanezCim opened #239 "Compilation error on melodic"
when trying to compile with catkin_make i get

[code]

I think this is since last merge with lama branch. Please fix

[2021-03-01 16:30] MoffKalast commented on #239
This is the fiducials repo, what's this got to do with lama? What?

Edit: Ah I see, I think this is being caused by the fisheye fix, since estimatePoseSingleMarkers seems to have changed the number of params over the versions. The question is now which one is the right one...

~~Anyhow adding @tp4348 since he made the merge and may know more.~~

[2021-03-01 17:17] MoffKalast commented on #239
Alright whatever, I'm reverting that merge for now and we can put a fix and re-merge into the backlog for a day when someone actually has the time to deal with this issue.

[2021-03-01 18:11] MoffKalast commented on #239
@JanezCim Can you check if it works now?

[2021-03-01 19:44] JanezCim commented on #239
Aha, sorry for wrongly accusing teo then. Now it compiles alright

[2021-03-01 19:44] #239 closed, assigned to MoffKalast

[2021-03-02 16:58] anfederman commented on #224
Catkin_make worked in Melodic, failed in Noetic.  I think this is a OpenCV 4 version issue.

[2021-03-02 17:02] anfederman opened #242 "Aruco_detect.cpp make fails in Noetic"
I compiled OK in Melodic with python2, opencv 3.3

It failed in catkin_make with python3, opencv 4.

I think the same issue is in other fiducials nodes.  the function has a different number of variables in different versions of opencv,

[2021-03-24 07:49] fmros opened #245 "How can aruco-boards be detected with this package?"

[2021-03-25 09:11] JanezCim commented on #245
The instructions of how to use these packages can be found on http://wiki.ros.org/fiducials. Or do you have more specific questions?

[2021-03-25 17:53] fmros commented on #245
I wanted to try  to increase detection accuracy by using marker-boards(see this [link](https://stackoverflow.com/a/51736875)). So my question is, is it possible to detect a marker-board or aruco-board with this package?

See also here: https://docs.opencv.org/master/db/da9/tutorial_aruco_board_detection.html

[2021-03-25 22:08] caioaamaral commented on #245
Aruco detector will detect each tag displayed on your aruco board. If you're interested in a specific position, you will need to reference it (as a static tf for example) to the position of each tag (the detected position of course) and then use some sort of filter (kalman filter from robot_localization is a good example) to retrieve the optimal position estimation

[2021-03-26 07:17] fmros commented on #245
So If i would want to get one position out of a board of 4 markers, I have to deal with the 4 detected fiducial frames of this package, and combine them to a group estimate with other techniques. Is this what you intend?

[2021-03-26 07:25] JanezCim commented on #245
I would agree with that

yep

[2021-03-26 07:28] fmros commented on #245
Thank you!

[2021-03-26 07:28] #245 closed, assigned to nobody

[2021-04-08 15:38] agutenkunst opened #247 "Open ROS2 branch for port"
Hi!

I did some work on porting this to ROS2 foxy see https://github.com/agutenkunst/fiducials/tree/ros2
there are still some things to do however I figured opening a draft PR is a good start for technical discussions and getting support.

In order to open the PR I need a target branch. Not sure if "ros2" or "foxy-devel" is the best.

What do you think?

[2021-04-08 16:15] rohbotics commented on #247
That would be great! Opened a foxy-devel: https://github.com/UbiquityRobotics/fiducials/tree/foxy-devel, go ahead and make a draft PR to it.

Thanks!

[2021-04-08 16:23] rohbotics commented on #242
Can you post the exact error in here Alan? Thanks

[2021-04-08 17:24] anfederman commented on #242
This now works, I don't recall what the issue was or what I did to fix it, was probably a typo when I was looking at the code.  Aruco detect works, and fiducial_slam is showing markers in rviz in the correct locations, but I haven't tried building a map or navigating the robot based on fiducial_slam.

fiducial_follow is not working yet, I raised an issue in magni_demos.

[2021-04-19 05:02] ROSDevoloper commented on #76
i used this  ` sudo apt-get install ros-kinetic-aruco-detect` to install the needed dependencies required for rr_auto_dock pkg

[2021-06-08 21:41] not-vibhu commented on #242
Hi @anfederman
Were you able to build this in Noetic?

[2021-06-18 00:47] igor-markovic commented on #242
I can confirm that the code from the kinetic-devel branch builds fine on a fresh install on Ubuntu 20.04 with ros-noetic-desktop-full installed, OpenCV version 4.2.

[2021-06-23 07:27] youliangtan opened #252 "rosdep for noetic"
Run this on:
- ubuntu 20.04
- ros: noetic

When run:
[code]

[code]

This is due to:
https://github.com/UbiquityRobotics/fiducials/blob/96b329a732f19d0f585c3740d42875a65168f31b/aruco_detect/package.xml#L30-L31

Which is using `python3-joblib` and `python-cairosvg` for noetic. Other than this, the package works fine.

[2021-06-28 17:17] hurance opened #253 "about aruco ros"
i wana get aruco id in terminal use aruco_detect ,how can i do it?

[2021-06-28 18:14] MoffKalast commented on #253
`rosopic echo /fiducial_transforms` would probably do it. At the moment there's no printout for actual ID values afaik.

[2021-07-01 08:39] hurance commented on #253
thanks

[2021-07-02 20:10] #247 closed, assigned to nobody

[2021-07-03 09:16] agutenkunst commented on #225
For ROS2 see https://github.com/UbiquityRobotics/fiducials/pull/248 @JStech

[2021-07-19 17:25] rohbotics opened #255 "Aruco unit tests do not compile under OpenCV 4.2 (noetic)"
[code]

[2021-07-19 17:30] rohbotics commented on #252
https://github.com/ros/rosdistro/pull/30241 and https://github.com/ros/rosdistro/pull/30170 solve this.

Thanks for reporting it.

[2021-07-19 17:30] #252 closed, assigned to nobody

[2021-07-19 20:26] #255 closed, assigned to nobody

[2021-07-19 22:53] rohbotics commented on #242
Closing because the noetic-devel branch builds under noetic.

[2021-07-19 22:53] #242 closed, assigned to nobody

[2021-07-27 05:20] youliangtan commented on #252
Thanks for for adressing this. However, i believe you will still need to update the `package.xml` to:
[code]
Not sure whether will it interfere if using other ros distros.

[2021-07-27 15:41] rohbotics opened #260 "Fiducials helper scripts Python3 Migration"
The scripts in aruco_gazebo and fiducial_slam need to be ported to Python 3 for ROS Noetic.

[2021-07-27 17:28] rohbotics commented on #252
@youliangtan, those changes are now available in the noetic-devel branch.

[2021-07-27 17:28] #253 closed, assigned to nobody

[2021-07-27 17:29] rohbotics commented on #225
We are going to go straight to a noetic release of the entire package, probably in the next week or so.

[2021-08-06 21:17] rohbotics commented on #224
Melodic and Noetic should both be released now.

[2021-08-06 21:17] #224 closed, assigned to nobody

[2021-08-11 14:13] DoneMan opened #261 "Aruco detect what frame is used?"
What is the frame used for the camera?
Is it RDF? As in: X right, Y down, Z forward?
And does the translation I get back, is it the camer relative to the aruco? Or the aruco relative to the camera?

[2021-12-09 15:35] roaz1801 opened #263 "/fiducial_transform not publishing when using USB camera"
Hello, I'm trying to get the transform of a marker that has been detected. Using ROS Noetic, a USB camera with the cv_camera package, and the camera is attached to a turtlebot. Using a USB camera because I couldn't get the raspi cam to work.

The USB camera works and is detecting a marker when checking the rqt image, and the when echoing the /fiducial_vertices topic you get feedback from it. The /

[2021-12-09 17:24] anfederman commented on #263
I have gotten Aruco detect to work on a USB cam in Noetic. I think you are
correct in thinking it is a transform error. I will spin up a USB camera
and send you my launch files.

On Thu, Dec 9, 2021, 7:35 AM roaz1801 ***@***.***> wrote:

[2021-12-09 17:25] anfederman commented on #263
PS Raspicam node works in both Arm32 and ARM64 in noetic.

On Thu, Dec 9, 2021, 7:35 AM roaz1801 ***@***.***> wrote:

[2021-12-09 17:31] roaz1801 commented on #263
I did try making the rospicam work on noetic but at some point I decided it was just too much effort when a USB camera could work too. Tried to make it work with both the image given in the https://emanual.robotis.com/docs/en/platform/turtlebot3/sbc_setup/#sbc-setup
and the default image from Raspberry Pi Imager. Never got raspistill to work there.

[2021-12-09 18:30] anfederman commented on #263
Try:

Add camera support libraries and test:

sudo apt install libraspberrypi-bin libraspberrypi-dev

this worked on ARM64 Noetic  Pi 4 Ubuntu 20.04 built from the server image.

   then raspistill -o test.jpg

On Thu, Dec 9, 2021 at 9:31 AM roaz1801 ***@***.***> wrote:

[2021-12-09 18:45] roaz1801 commented on #263
Thank you, will try this next time I get to use the physical turtlebot and report back, but it might take a few days until next time I get to use the hardware.

[2021-12-09 18:55] roaz1801 commented on #263
Also, I have now tested using only a USB camera not connected to anything, so I don't think this issue has anything to do with the turtlebot at all, might just be that the aruco_detect node is not writing to the right topic. From the /fiducial_vertices I get:
[code]
And in the rqt image viewer the marker is being detected, but no /fiducial_transform output or fiducial_0 transform in tf tree

Edit:

[2021-12-09 19:40] anfederman commented on #263
This is the aruco launch filefor raspicam on a Magni robot:

<launch>
  <arg name="mapping_mode" default="false"/>
  <arg name="fiducial_len" default="0.140"/>

  <include file="$(find
raspicam_node)/launch/camerav2_1280x960_10fps.launch" />

  <include file="$(find aruco_detect)/launch/aruco_detect.launch">
    <arg name="camera" value="/raspicam_node"/>
    <arg name="image" value="image"/>

[2021-12-09 20:03] roaz1801 commented on #263
Is there no way of making this work without a raspicam/ raspicam_node? Would like to try it it with a USB camera.
Also tried with this part:
[code]
but changed /raspicam_node to /cv_camera, didn't work though because the
[code]
are needed

[2021-12-09 20:48] anfederman commented on #263
I had it working with an Xtion (3d camera, using the camera_rgb image (this
is via USB)in both Kinetic and Noetic.  I am not positive,
but I think I had it work both on a laptop and a Jetson.  I think you will
need to have a calibrated camera however.

On Thu, Dec 9, 2021 at 12:03 PM roaz1801 ***@***.***> wrote:

[2021-12-09 20:54] anfederman commented on #263
in the launch file I sent

change the camera by  the include file to find  "usb_cam"  (or whatever the
camera node is.

in the fiducial detection section change the camera value.

On Thu, Dec 9, 2021 at 12:47 PM Alan Federman ***@***.***>
wrote:

[2021-12-09 21:25] roaz1801 commented on #263
I've got the launch code working, still no luck with the transform though. Here is the working launch code with the usb camera:

[code]

but the fiducial transform still does not show up in the tf tree

![image](https://user-images.githubusercontent.com/54395470/145480909-5a4b6c2e-a662-4c09-b269-b08287c20a90.png)

EDIT:
It still seems weird to me that the /fiducial_vertices has an empty frame_id,

[2021-12-09 22:10] anfederman commented on #263
So rostopic list

Rostopic echo / camera image topic
                           / "Fiducial_image topic'

See if it works, then view it with rqt_image_view.

If you can list the topic, but not see when echoing, the issue is
networking, most likely how hostnames and IPs are specified.

On Thu, Dec 9, 2021, 1:26 PM roaz1801 ***@***.***> wrote:

[2021-12-09 22:16] anfederman commented on #263
Well there is a cv launch file, it probably is sitting in
/opt/ros/noetic/share.

Again, is raspistill working? Since you are getting marker vertices, it
seems the data is there and working fine, but you can't view it?

Of this still is an issue we can set up a zoom call sometime tomorrow, and
we can share screens, I will try to duplicate your issue.

On Thu, Dec 9, 2021, 1:26 PM roaz1801 ***@***.

[2021-12-09 22:19] roaz1801 commented on #263
Alright, let me give all the info I can:
rostopic list:

[code]
then rostopic echo the /fiducial_images, something is echoed out (big arrays of numbers).
rqt_image_view shows /fiducial_image. The marker is even being detected, as can be seen here:
![image](https://user-images.githubusercontent.com/54395470/145484480-db3343bd-c8f2-4356-ba81-f6b621d3644b.png)

The issue comes now, as the problem is

[2021-12-09 22:38] anfederman commented on #263
Ok so the issue is ROS doesn't know where the camera is in relation to the
robot.  This is usually fixed by linking the camera to the base_link or
base_fpotprint of the robot. In RVIZ when you look at the topics being
displayed you will see things flagged as red with warning messages about
can't display because no transform exists.. blah blah.

This is fixed by adding a static transform in the lau

[2021-12-09 22:48] roaz1801 commented on #263
I did have this line in the first launch file:
` <node pkg="tf" type="static_transform_publisher" name="camera_frames_pub" args="0.05 0.0 0.1 0 0 0 tb3_0/base_link /camera 35"/>
`
So I don't think it's a problem with the camera not knowing where it is in relation to the robot, I still think there's something that's making it so the aruco_detect does not manage to get the frame_id from the cv_camer

[2021-12-10 00:09] anfederman commented on #263
Fiducial SLAM works by assuming markers are fixed, and the camera is
attached to the robot. For it to work, the position of the camera and how
it is pointed, relative to the base_link of the robot is used to compute
the motion of the robot based on transforms to odom, cmd_vel, and map
topics. This further gets confused when we add scan topics from lasers and
obstacle avoidance from sonar.

The ent

[2021-12-10 11:34] roaz1801 commented on #263
This seems to be where the issue was. My camera was not calibrated and I managed to calibrate it today. After having done this, the /fiducial_transform works as it should. Thank you for mentioning that.

[2021-12-10 11:34] #263 closed, assigned to nobody

[2022-01-17 12:12] torydebra commented on #144
Hi, I do not know if this is still active, but I faced a similar issue with a (simulated) d435 from https://github.com/pal-robotics/realsense_gazebo_plugin

I do not know if the problem is the same, but for me the issue was here:
https://github.com/UbiquityRobotics/fiducials/blob/1ae8a13d56fafa436aca181da451c1bf808a288c/aruco_detect/src/aruco_detect.cpp#L320-L322

the node crashed because the simu

[2022-01-20 04:11] xperiazu21 opened #264 "No detection near the marker"
Hello, when the camera is about 40 cm away from the marker, the ArUco marker is no longer detected.

Seeing that #191 has the same problem, I changed the maxMarkerPerimeterRate parameter in aruco_detect through rqt_reconfigure, the default value is 1.0, I lowered the value, but the distance of the marker can be detected further.

I also tried to replace the markers of other dictionaries, the resul

[2022-01-20 13:29] MoffKalast commented on #264
Yeah I've been seeing this a lot, though it seems to only happen at certain times. It does happen if the dictionary isn't set up right, though it also happens sometimes when it is.

Probably an issue in the detection code somewhere, with it only using kernels up to a certain size or something.

[2022-01-21 04:07] xperiazu21 commented on #264
I saw a few pull requests about maxMarkerPerimeterRate.

Need to modify file aruco_detect/cfg/DetectorParams.cfg
`gen.add("maxMarkerPerimeterRate",                 double_t, 0,
        "Determine maximum perimeter for marker contour to be detected. This is defined as a rate respect to the maximum dimension of the input image",
        4.0, 0, 1)`

**change 1 to 4.0**
`gen.add("maxMarkerPerimeterRa

[2022-01-21 04:08] #264 closed, assigned to nobody

[2022-01-27 08:50] fmros opened #265 "Confusing variable access in imageCallback() and poseEstimateCallback()"
### Problem
There are variables like `corners` or `ids` accessed in the [imageCallback](https://github.com/UbiquityRobotics/fiducials/blob/1ae8a13d56fafa436aca181da451c1bf808a288c/aruco_detect/src/aruco_detect.cpp#L332) and in the [poseEstimateCallback](https://github.com/UbiquityRobotics/fiducials/blob/1ae8a13d56fafa436aca181da451c1bf808a288c/aruco_detect/src/aruco_detect.cpp#L397) method that ar

[2022-02-22 09:28] darshakwi opened #266 "Not able to visualize /fiducial_images via image_view with usb_cam"
I am using usb_cam node and with that I want to use image_view but even after remapping I am not able to visualize it.
I remapped /camera_info to /usb_cam/camera_info and /camera to /usb_cam/image_raw
I am able to detect ArUCo markers

[2022-02-22 10:04] darshakwi commented on #266
I was able to solve it by remapping /camera/compressed to /usb_cam/image_raw/compressed

[2022-02-22 11:00] darshakwi commented on #266
The thing is when I run launch file I am able to echo on topics like /fiducial_images and /fiducial_images/compressed but same is not happening when I perform rosrun with same parameters.

[2022-02-22 11:09] MoffKalast commented on #266
In that case I suggest you use roslaunch and set up the correct topic remaps as you've already figured out. It defaults to raspicam and it's not intended to automatically detect all image topics on the system, only web streaming nodes have that capability out of any image processing nodes I've ever seen.

[2022-02-22 11:13] darshakwi commented on #266
Ohh cool, I got it. One more thing that you said about default to raspicam, that is in aruco_detect launch file? Because I am trying to directly run aruco node

[2022-02-22 17:16] anfederman commented on #266
Can you be more specific?

Are you launching and running the usb_cam node on a robot or remote , and
rostopic echo and rosrun image_view on a workstation?

On the workstation, do rostopic list and rostopic echo show the topics and
video data, but image_view doesn't show anything? If the data is missing or
image view doesn't work on the workstation it might mean the ROS_MASTER_URI
isn't set correct

[2022-02-22 17:42] MoffKalast commented on #266
Ah my bad, it seems to actually be just "camera" by default, odd. https://github.com/UbiquityRobotics/fiducials/blob/1ae8a13d56fafa436aca181da451c1bf808a288c/aruco_detect/src/aruco_detect.cpp#L673

I'm not sure why you'd want to run it via rosrun though, wouldn't it make more sense to copy paste the existing launch file and set it up the way your system needs it to be?

[2022-02-22 18:05] anfederman commented on #266
The default aruco_detect in magni_nav launches raspicam_node I think at 420
resolution. I think it would use the Magni default forward raspicam URDF. I
think in breadcrumb, the camera gets flipped 180.

On Tue, Feb 22, 2022, 9:43 AM MoffKalast ***@***.***> wrote:

[2022-02-23 04:50] darshakwi commented on #266
I am running everything directly on the robot and I am using Jetson Nano for this. The thing is I was able to run everything usb_cam, aruco_detect and image_view with launch file but I wish to know the reason why I am not able to visualize in image_view when I rosrun all of them individually considering all the parameters are same.

[2022-02-23 10:09] anfederman commented on #266
Which version of ubuntu  and ROS? I am pretty sure it has worked on a Nano
using an Asus depth CAM and Melodic. Never tested with Noetic. Also not
image_view, but rqt_image_view.

On Tue, Feb 22, 2022, 8:50 PM Trushant Adeshara ***@***.***>
wrote:

[2022-02-23 10:24] darshakwi commented on #266
Ubuntu 18.04 with ROS Melodic

[2022-02-24 15:18] Wayne-xixi opened #268 "Extreme pose jitter and map doesn't match"
Hi, I use the fiducials in gazebo Simulation. I first placed about 30 fiducials (14cm long) on the wall of a square room in gazebo's world. And I used a mobile robot with a camera to detect the fiducials to estimate the pose of the robot. The scene is as follows:
![default_gzclient_camera(1)-2022-02-24T15_54_09 434665](https://user-images.githubusercontent.com/56882488/155549126-bff1e60f-89d0-4fd4

[2022-02-27 11:32] MoffKalast commented on #268
There's your problem. The system makes the assumption that all the markers are on the same horizontal plane above the robot, and it won't really work for your setup with any reasonable accuracy.

[2022-03-03 10:04] Wayne-xixi commented on #268
Thanks

[2022-03-03 10:04] #268 closed, assigned to nobody

[2022-03-03 10:17] Wayne-xixi opened #269 "map init"
Hi, if I know all poses of fiducials, I want to manually create an ideal map.txt to localize the robot and set read_only_map to true. But for the map format "id x y z pan tilt roll variance numObservations links", how can I estimate the "variance numObservations links"?
Thanks in advance.

[2022-03-11 05:20] darshakwi commented on #266
I think I found the issue, due to some reason display for Jetson Nano is acting different which might have caused error in taking long command inputs (extra spaces, missing character). I was able to solve this by using a launch file. Closing this issue.

[2022-03-11 05:20] #266 closed, assigned to nobody

[2022-03-29 11:54] matjazbos opened #270 "Add STag detect"
In the future, this repository will be included as a submodule in breadcrumb (and later also ezmap) instead of "breadcrumb_detect" subfolder. For this, STag detect functionality needs to be added to this repository.
I think that [this](https://github.com/tp4348/stag_ros) is the repository that needs to be included here. Before including it here, it needs to be updated from the main stag_ros reposi

[2022-04-01 00:28] pitosalas opened #271 "Exact orientation of tf for Fiducial"
I'm troubleshooting a problem with my use of Armco_detect. It seems to work well except that the fiducials tfs relatvive to the camera are 90 degrees in the wrong direction. The fiducial_imates topic shows the fiducials. But in stead of x-y-z colored lines to show the orientation, I see the following

- a green outline around the marker
- a red square in the top left
- a blue id = x label.

Can th

[2022-04-01 02:16] anfederman commented on #271
Is the camera mounted to a robot, and is there a link to the base_link or
base_footprint? I am guessing the camera is oriented incorrectly.

On Thu, Mar 31, 2022, 5:28 PM Pito Salas ***@***.***> wrote:

[2022-04-01 13:24] pitosalas commented on #271
Yes, there is a link. But the transform is wrong.

My question really was about the visualization (fiducial_camera I think it's called). The image shows the outline and number of the fiducial. But more helpful would be if I could get it to show the three axes in perspective (like it does in the demo visualization). Seeing the three axes will really help me troubleshoot!

Pito Salas
Faculty, Comput

[2022-04-06 07:39] JanezCim commented on #271
@pitosalas might be a bit of workaround, but you can see the three axis prespective if you enable tf visualisation in rviz. If you do fiducial slam, that also publishes markers of fiducials (red squares, blue lines):

![image](https://user-images.githubusercontent.com/8426792/161921248-38c7af7f-5e59-40b6-b240-13881a26f009.png)

but afaik this node does not have an option of displaying frame coordi

[2022-05-30 09:20] koliber31 opened #272 "Detected 0 markers"
I'm trying to use aruco_detect by using
`rosrun aruco_detect aruco_detect /camera:=/usb_cam/image_raw /camera_info:=/usb_cam/camera_info _publish_images:=true`.
1. I'm not sure if using /camera instead of /camera/compressed is good thing but when i was using /camera/compressed i haven't seen this topic between camera and aruco.
2. When i'm using above command to run aruco_node i get information "D

[2022-05-30 14:30] anfederman commented on #272
What does rostopic list show? There should be fiducial topics and rostopic
echo should show data. If not, there is probably a transform missing or a
topic misnamed. Also is fiducial_slam is being used, the camera position
relative to the robot and camera needs to be accounted for.

On Mon, May 30, 2022, 2:20 AM Igor Staniszewski ***@***.***>
wrote:

[2022-05-30 16:43] koliber31 commented on #272
rostopic list
`/aruco_detect/parameter_descriptions
/aruco_detect/parameter_updates
/clicked_point
/fiducial_images
/fiducial_images/compressed
/fiducial_images/compressed/parameter_descriptions
/fiducial_images/compressed/parameter_updates
/fiducial_images/compressedDepth
/fiducial_images/compressedDepth/parameter_descriptions
/fiducial_images/compressedDepth/parameter_updates
/fiducial_images/th

[2022-05-30 18:46] anfederman commented on #272
Hard do see what the warning is in rviz, but my guess is there is no
transform between the fiducial location(vertices) and the map, so rviz
can't locate the the vertices on the map.  You might want to look at our
github code  fro magni_gazebo fiducial_world.launch and see how we do it.
I also seem to remember you need to calibrate the usb_cam .

On Mon, May 30, 2022 at 9:43 AM Igor Staniszewski **

[2022-05-30 20:28] anfederman commented on #272
aruco.launch:

<launch>
  <arg name="mapping_mode" default="false"/>
  <arg name="fiducial_len" default="0.140"/>

  <include file="$(find
raspicam_node)/launch/camerav2_1280x960_10fps.launch" />

  <include file="$(find aruco_detect)/launch/aruco_detect.launch">
    <arg name="camera" value="/raspicam_node"/>
    <arg name="image" value="image"/>
    <arg name="transport" value="compressed"/>

[2022-06-08 06:23] koliber31 commented on #272
I found out what the problem was. It turned out that i was using aruco markers from wrong dictionary. It is kinda weird because i was changing dictionary  parameters but it seems like you have to use specific markers which are in fiducials on ros wiki.

[2022-06-08 06:24] #272 closed, assigned to nobody

[2022-06-23 15:04] anfederman opened #274 "This code generates error on ARM64 RPi 4."
raceback (most recent call last):
  File "/home/ubuntu/catkin_ws/src/demos/fiducial_follow/nodes/follow.py", line 35, in <module>
    from fiducial_msgs.msg import FiducialTransform, FiducialTransformArray
ImportError: cannot import name 'FiducialTransform' from 'fiducial_msgs.msg' (unknown location)

no error when tried on AMD machine

ros-noetic-fiducial-msgs is installed as per sudo apt install

[2022-06-23 15:09] anfederman commented on #274
also fails if fiducials is built in catkin.

[2022-08-04 14:32] ivan140 commented on #269
Here's an example of my map.txt . Maybe it'll help you. All fiducials are in 2D and perpendicular to the camera in my case.
[code]

![image](https://user-images.githubusercontent.com/5938060/182871641-00167b7f-254d-4d82-bd1a-b9da73f10de9.png)

The variance you need to tune similar to variances of other sensors (imu, odom, ...).

[2022-08-25 20:08] anfederman commented on #274
closing issue not arm64 related

[2022-08-25 20:08] #274 closed, assigned to nobody

[2022-08-25 20:13] anfederman opened #275 "fiducial slam incorrect for magni navigation"
see figures included.  quaternion errors in rviz, markers are located below the ground plane and 90 degrees from Magni robot
![Screenshot from 2022-08-25 12-57-42](https://user-images.githubusercontent.com/5217791/186759687-4ac5eceb-c18e-4bab-bb17-5183f7f79239.png)
![Screenshot from 2022-08-25 12-56-39](https://user-images.githubusercontent.com/5217791/186759713-7265cfeb-56db-4197-b2c8-46d542586a4

[2022-09-02 15:01] ivan140 commented on #271
You can add the following code to map.cpp , function publishMarker :

[code]

And get the following output. Feel free to add more axis if needed.

![image](https://user-images.githubusercontent.com/5938060/188177121-4bef813f-310c-437f-a8f1-edc8ac651232.png)

[2022-09-02 15:38] ivan140 opened #276 "All topics in root / namespace, difficult for multirobot environment"
Hi,

In the package **fiducial_slam** there are several subscribers and publishers which use the root (/) namespace. Here are the mentioned lines:

[code]
When having several robots, each in its own namespace it makes it difficult to manage the fiducial_slam (remap...). I'd make a pull request with a fix, but want to ask you how you'd prefer it:

1. Pass two NodeHandles (pnh and nh) to these funct

[2022-10-11 07:34] pitosalas commented on #271
Thanks!

Pito Salas
Faculty, Computer Science
Brandeis University

[2022-11-30 06:20] wowowolala opened #279 "TF problem when I detect the aruco markers"
I run the aruco_detect.launch, but the tf about camera and aruco marker is wrong, like picture below.
![autodock_tf_problem](https://user-images.githubusercontent.com/52536996/204722225-f2b4580f-bc71-4352-94a4-3312755ebdb7.png)

The tf should be like this:  (for example)
![autodock_tf_problem2](https://user-images.githubusercontent.com/52536996/204722324-c5a815ff-1ced-4f30-b2de-be2afe1b7932.png)

[2022-11-30 06:22] wowowolala commented on #279
It is not camera problem.

[2022-11-30 17:22] anfederman commented on #279
Do you have the camera orientation correct?

On Tue, Nov 29, 2022, 10:22 PM wowowolala ***@***.***> wrote:

[2022-11-30 17:34] anfederman commented on #279
tThis is the same issue as 271 and 275.   Perhaps trying STAG makers instead will resolve, as I don't think we have any LTS for aruco_detect.

[2022-11-30 17:52] anfederman commented on #279
OK  I just tried STAG markers in our easymap stack.   This on a Magni robot with the camera forward.   It still puts the maker below the floor. even when it is on the wall directly ahead of the robot.

![Screenshot from 2022-11-30 09-48-12](https://user-images.githubusercontent.com/5217791/204871717-2c52cd65-4b29-4db0-985e-646239a8e321.png)

![Screenshot from 2022-11-30 09-47-57](https://user-imag

[2022-11-30 19:34] anfederman commented on #279
Since the TF error is in both the magni and easymap stacks, It must have something to do with camera orientation.  It appears the transform thinks the camera is in the tower orientation rather than the lower magni forward orientation. This would explain why rviz put the maker below the floor.  I have tried changing the camera orientation in the URDF section but nothing seem to fix the issue.

we n